@import "../../styles/variables";

.discover {
    display: flex;
    padding: 0 $page-spacing;

    .search-text-container {
        padding-top: $content-spacing;

        .search-text {
            padding-left: $base-spacing * 2;
            font-family: $font-family-serif;
            font-size: $font-size-5;
            font-weight: $font-weight-bold;
            color: $color-grey-3;
            border-bottom: solid $standard-border-width $standard-border-color;
        }
    }

    .card-container:last-of-type {
        // padding-top: $base-spacing * 2;
    }

    .recommended-trendsetters {
        background-color: transparent;
        border: solid $standard-border-color $standard-border-width;
        padding: $base-spacing * 3;
        grid-column-end: span 2;

        .title {
            font-size: $font-size-4;
            font-family: $font-family-serif;
            font-weight: $font-weight-bold;
            margin-bottom: $base-spacing * 2;
        }

        .slick-prev::before,
        .slick-next::before {
            // color: #fff;
        }

        .image-container {
            img {
                object-fit: cover;
            }
        }

        .carousel-item-title {
            font-family: $font-family-sans-serif;
        }
    }

    .no-search-result-text {
        margin-top: -1 * ($filter-height + $filter-padding + $content-spacing) + 2 * $base-spacing;
    }

    .hide {
        display: none;
    }
}
