@import "../../styles/variables";

.discover {
    display: flex;
    padding: 0 $base-spacing * 2;
    margin-top: $navbar-height;

    .search-text-container {
        padding-top: $content-spacing;

        .search-text {
            padding-left: $base-spacing * 2;
            font-family: $font-family-serif;
            font-size: $font-size-5;
            font-weight: $font-weight-bold;
            color: $color-grey-3;
            border-bottom: solid $standard-border-width $standard-border-color;
        }
    }

    .no-search-result-text {
        margin-top: -1 * ($filter-height + $filter-padding + $content-spacing) + 2 * $base-spacing;
    }

    .hide {
        display: none;
    }
}
