@import "../../styles/variables";

.discover {
    display: flex;
    margin-bottom: $base-spacing * 2;

    .search-text-container {
        .search-help {
            color: $text-faded;
            margin-bottom: $base-spacing * 2;
        }

        .search-text {
            padding-left: 0;
            padding-bottom: $base-spacing;
            font-family: $font-family-serif;
            font-size: $font-size-4;
            font-weight: $font-weight-bold;
            max-width: 860px;
            color: $text-primary;
            border-bottom: solid $standard-border-width #000;
        }
    }

    .recommended-trendsetters-container {
        display: block;
        border-radius: $standard-border-radius;
        background-color: transparent;
        border: solid $standard-border-color $standard-border-width;
        padding: $base-spacing * 2;
        margin-bottom: 0;
        grid-column-end: span 2;

        .title {
            font-size: $font-size-4;
            font-family: $font-family-serif;
            font-weight: $font-weight-bold;
            margin-bottom: $base-spacing * 6;
        }

        .recommended-trendsetters {
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 120px;
            display: grid;
            grid-gap: $base-spacing * 4 $base-spacing * 2;
        }
    }

    .trendsetter {
        text-align: center;

        img {
            border-radius: 100%;
            width: 100px;
            height: 100px;
            display: inline-block;
            object-fit: cover;
        }
    }

    .hide {
        display: none;
    }
}

.mobile-discover {
    padding: $mobile-page-spacing;
    background-color: $base-background-color;

    .slick-list {
        padding-left: 0 !important; //partial - find a fix
    }

    .slick-slide {
        margin-right: 50px;
    }

    .search-text-container {
        margin-bottom: $base-spacing * 2;
    }
}
