@import "../../styles/variables.scss";

.mobile-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    box-sizing: border-box;
    padding: $mobile-page-spacing;
    display: flex;
    justify-content: space-between;
    border-bottom: $standard-border-width solid $standard-border-color;
    background-color: $base-background-color;

    // .nav-logo {
    //     width: 150px;
    //     max-height: 30px;
    //     object-fit: contain;
    // }
}

.nav-logo-container {
    display: flex;
    align-items: center;

    .nav-logo {
        width: 150px;
        max-height: 30px;
        object-fit: contain;

        &:hover {
            cursor: pointer;
        }
    }
}

.main-header {
    background-color: $base-background-color;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    height: 66px;

    .user-header,
    .nav-header {
        .nav-content {
            display: flex;
            padding: 0 $page-spacing;
            width: 100%;
            max-width: $max-content-width;
            margin: auto;
            height: $navbar-menu-height;

            .header-right-buttons {
                margin-top: auto;
                margin-bottom: auto;
            }

            .selected {
                height: $line-height-3;
            }
        }

        width: 100%;
        display: inline-flex;
        border-bottom: $standard-border-width solid $standard-border-color;
    }

    .user-header {
        .nav-content {
            z-index: 11;
            justify-content: space-between;
            height: $navbar-height - $navbar-menu-height;

            .selected {
                height: $line-height-1;
            }
        }
    }

    .nav-header {
        height: $navbar-menu-height;
        background-color: $color-white;

        .nav-pages,
        .nav-logo,
        .search {
            display: inline-block;
        }

        .nav-logo-container {
            width: $sidebar-width + $sidebar-padding;
        }

        .nav-header-links {
            display: flex;
            justify-content: space-between;
            flex-grow: 1;

            .search {
                display: flex;
                float: left;
                width: 200px;
                height: $line-height-4;
                border: $standard-border-width solid $standard-border-color;
                margin-top: auto;
                margin-bottom: auto;
                border-radius: $rounded-border-radius;

                input {
                    font-size: $font-size-2;
                    letter-spacing: $letter-spacing-1;
                    padding-right: $base-spacing * 2;
                    width: $button-width-sm;
                    text-align: left;
                }
            }
        }
    }
}

.user-logged-in-buttons {
    height: 100%;
    display: flex;

    .link-button {
        margin: auto;
    }

    .icon {
        &::before {
            width: 25px;
            height: 25px;
        }
    }
}
