@import "../../styles/variables.scss";

.main-header {
    height: $navbar-height;
    background-color: $color-grey-0;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;

    .user-header,
    .nav-header {
        border-bottom: $standard-border-width solid $standard-border-color;
    }

    .user-header {
        display: flex;
        justify-content: space-between;
        padding: 0 $base-spacing * 2;
    }

    .nav-header {
        height: $navbar-menu-height;

        .nav-pages,
        .nav-logo,
        .search {
            display: inline-block;
        }

        .nav-logo {
            width: 300px;
        }

        .search {
            display: flex;
            float: right;

            input {
                border: none;
                background-color: transparent;
                user-select: none;
                outline: none;
            }
        }
    }
}
