@import "../../styles/variables.scss";

.main-header {
    background-color: $color-grey-0;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;

    .user-header,
    .nav-header {
        border-bottom: $standard-border-width solid $standard-border-color;
    }

    .user-header {
        display: flex;
        justify-content: space-between;
        padding: 0 $base-spacing * 2;
    }

    .nav-header {
        display: flex;
        padding: 0 $base-spacing * 2;

        .nav-pages,
        .nav-logo,
        .search {
            display: inline-block;
        }

        .nav-logo {
            width: 300px;

            &::before {
                content: "";
                width: 222px;
                height: 60px;
                position: absolute;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url("/img/logo.png");
            }
        }

        .nav-header-links {
            display: flex;
            justify-content: space-between;
            flex-grow: 1;

            .search {
                display: flex;
                float: right;

                input {
                    border: none;
                    background-color: transparent;
                    user-select: none;
                    outline: none;
                }
            }
        }
    }
}
