@import "../../styles/variables";

.footer-container {
    width: 100%;
    border-top: $standard-border-width solid $standard-border-color;
    padding: $standard-border-width;
    box-sizing: border-box;
}

.footer {
    background-color: #fff;
    padding: $page-spacing;
    display: flex;
    margin: auto;
    max-width: $max-content-width;
    min-width: $min-content-width;

    .footer-logo {
        width: $sidebar-width + $sidebar-padding;

        .nav-logo {
            width: 180px;
        }
    }

    .footer-content {
        display: flex;
    }

    .footer-column {
        width: 210px;
    }

    .footer-title {
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        margin-bottom: $base-spacing * 2;
    }

    .footer-link,
    .disclaimer {
        display: block;
        margin-bottom: $base-spacing;
    }

    .social-buttons {
        display: flex;
    }

    .social-icon {
        margin-right: $base-spacing;
    }

    .footer-disclaimer {
        position: relative;
        min-width: 240px;

        .footer-title {
            text-transform: none;
            font-size: $font-size-4;
            font-family: $font-family-serif;
        }

        .disclaimer {
            position: absolute;
            bottom: 0;
        }

        form {
            width: 100%;
            display: inline-flex;

            input[type="email"] {
                border-radius: $standard-border-radius 0 0 $standard-border-radius;
                border-right: none;
            }

            input[type="submit"] {
                font-weight: $font-weight-light;
                font-size: $font-size-2;
                width: 30%;
                border-radius: 0 $standard-border-radius $standard-border-radius 0;
            }
        }
    }
}
