@import "../../styles/variables";

.mobile-newsletter {
    padding: $base-spacing * 2 $mobile-base-spacing;
    background-color: $_color-grey-5;
    text-align: center;
    font-size: $mobile-font-size-callout;
    color: $color-secondary;

    b {
        color: #000;
        margin-bottom: $base-spacing * 2;
        font-size: $mobile-font-size-subtitle;
        display: block;
    }

    .newsletter-email {
        background-color: #fff;
        border-radius: $border-radius;
    }

    .newsletter-info {
        margin-bottom: $base-spacing * 2;
    }
}

.mobile-footer {
    background-color: $color-brand;
    color: #fff;
    padding: $base-spacing * 2 $mobile-base-spacing;
    text-align: center;

    .footer-link {
        display: block;
        color: #fff;
        font-size: $mobile-font-size-callout;
        margin-bottom: $base-spacing;

        &:last-of-type {
            margin-bottom: $section-spacing;
        }
    }

    .follow-us-text {
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        font-size: $mobile-font-size-callout;
        letter-spacing: $letter-spacing-callout;
    }

    .follow-us-buttons {
        margin-bottom: $base-spacing * 2;

        .social-icon {
            margin: $base-spacing;
        }
    }

    .footer-logo {
        margin: auto;
        margin-bottom: $base-spacing;

        img {
            width: 150px;
        }
    }

    .copyright {
        font-size: $mobile-font-size-callout;
        opacity: 0.7;
    }
}

.desktop-footer {
    width: 100%;
    padding: $standard-border-width;
    box-sizing: border-box;
    background-color: $color-brand;

    .footer {
        background-color: $color-brand;
        color: #fff;
        padding: $page-spacing;
        display: flex;
        margin: auto;
        max-width: $max-page-width;
        min-width: $min-page-width;

        .footer-logo {
            width: $sidebar-width + $sidebar-padding;

            .nav-logo {
                width: 180px;
            }
        }

        .footer-content {
            display: flex;
        }

        .footer-column {
            width: 210px;
        }

        .footer-title {
            text-transform: uppercase;
            font-weight: $font-weight-bold;
            margin-bottom: $base-spacing * 2;
        }

        .footer-link,
        .disclaimer {
            color: #fff;
            display: block;
            font-size: $font-size-body-small;
            margin-bottom: $base-spacing;
        }

        .social-buttons {
            display: flex;
        }

        .social-icon {
            margin-right: $base-spacing;
        }

        .footer-disclaimer {
            position: relative;
            min-width: 240px;
            font-size: $font-size-body-small;

            .footer-title {
                text-transform: none;
                font-size: $font-size-4;
            }

            .disclaimer {
                position: absolute;
                bottom: 0;
            }

            form {
                width: 100%;
                display: inline-flex;

                input[type="email"] {
                    border-radius: $standard-border-radius 0 0 $standard-border-radius;
                    border-right: none;
                }

                input[type="submit"] {
                    font-weight: $font-weight-light;
                    font-size: $font-size-2;
                    width: 30%;
                    border-radius: 0 $standard-border-radius $standard-border-radius 0;
                }
            }
        }
    }
}
