@import "../../../../styles/variables";

.featured-card {
    position: relative;
    box-shadow: 0 0 5px rgba(149, 149, 149, 0.5);

    .featured-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .featured-card-banner {
        transition: linear 1s;
        position: absolute;
        padding: $base-spacing * 2;
        box-sizing: border-box;
        bottom: 0;
        background-color: #fff;
        width: 100%;
    }

    .featured-caption {
        display: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: top;
    }

    .featured-title h3 {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: top;
        padding-bottom: $border-width;
    }

    &:hover,
    &.mobile {
        .featured-caption {
            display: block;
        }

        .featured-title h3 {
            display: inline-block;
            padding-bottom: 0;
        }
    }

    &:hover {
        .featured-title h3 {
            border-bottom: $border-width solid $color-brand;
        }
    }
}
