@import "../../styles/variables";

.post {
    display: flex;
    padding: 0 $base-spacing * 2;
    margin-top: $base-spacing * 2;

    .post-content {
        .post-cover {
            width: 100%;
            margin-bottom: $base-spacing * 2;
        }

        .post-title {
            font-size: $header-font-size-1;
            color: #000;
        }

        .post-details {
            line-height: $font-size-1 * 2;
            letter-spacing: 0.01em;
        }
    }
}
