@import "../../styles/variables";

.post,
.mobile-post {
    .post-content {
        margin-bottom: $base-spacing * 4;
    }

    .post-subtitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4 * $base-spacing;
    }

    .post-details {
        font-size: $font-size-2;
        line-height: $line-height-3;
        margin-bottom: 100px;

        img {
            padding: $base-spacing 0;
            max-width: 100%;
        }
    }

    .post-title {
        margin-bottom: $base-spacing * 2;
    }
}

.mobile-post {
    padding: $mobile-page-spacing;
    padding-top: $mobile-page-spacing * 2;

    .post-cover {
        margin-bottom: $base-spacing * 2;
    }

    .post-title {
        font-size: $mobile-header-font-size-1;
        line-height: $mobile-header-line-height-1;
        font-weight: $font-weight-bold;
        font-family: $font-family-serif;
        color: black;
    }
}

.post {
    display: flex;
    margin-top: $navbar-height;

    .post-content {
        max-width: 860px;
        margin: auto;

        .post-cover {
            width: 100%;
            margin-bottom: $base-spacing * 4;
        }

        .post-title {
            font-size: $header-font-size-1;
            line-height: $header-line-height-1;
            font-family: $font-family-serif;
            color: black;
        }
    }
}

.product-tag {
    background-color: black;
    color: white;
    position: absolute;
    padding: $base-spacing;
    border-radius: $base-spacing;

    .product-dot {
        position: absolute;
        margin-left: -30px;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: white;
    }
}

.tag-list {
    margin-bottom: $section-spacing;
}
