@import "../../styles/variables";

.post,
.mobile-post {
    .post-content {
        margin-bottom: $base-spacing * 4;
    }

    .post-subtitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4 * $base-spacing;
    }

    .post-details {
        font-size: $font-size-2;
        line-height: $line-height-3;
        margin-bottom: 100px;

        img {
            padding: $base-spacing 0;
            max-width: 100%;
        }
    }

    .post-title {
        margin-bottom: $base-spacing * 2;
    }
}

.mobile-post {
    padding: $mobile-page-spacing;
    padding-top: $mobile-page-spacing * 2;

    .post-cover {
        margin-bottom: $base-spacing * 2;
    }

    .post-title {
        font-size: $mobile-header-font-size-1;
        line-height: $mobile-header-line-height-1;
        font-weight: $font-weight-bold;
        font-family: $font-family-serif;
        color: black;
    }
}

.post {
    display: flex;
    margin-top: $navbar-height;

    .post-content {
        max-width: 860px;
        margin: auto;

        .post-cover {
            width: 100%;
            margin-bottom: $base-spacing * 4;
        }

        .post-title {
            font-size: $header-font-size-1;
            line-height: $header-line-height-1;
            font-family: $font-family-serif;
            color: black;
        }
    }
}

.product-tag {
    position: absolute;

    &:hover {
        cursor: pointer;
    }

    .product-dot {
        position: absolute;
        opacity: 0.8;
        margin-left: -30px;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        background-color: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    $arrow-size: 9px;

    .arrow {
        z-index: 2;
        border-style: solid;
        position: absolute;
        bottom: 6.5px;
        border-color: #000 transparent transparent transparent;
        border-width: $arrow-size $arrow-size 0 $arrow-size;

        &.hidden {
            visibility: hidden;
        }

        &::after {
            opacity: 1;
            border-color: #fff transparent transparent transparent;
            border-style: solid;
            border-width: ($arrow-size - 1px) ($arrow-size - 1px) 0 ($arrow-size - 1px);
            bottom: 1px;
            content: "";
            position: absolute;
            left: -($arrow-size - 1px);
        }
    }

    .tag-name {
        display: block;
        position: absolute;
        background-color: #fff;
        border: $standard-border-width solid #000;
        border-radius: 3px;
        padding: $base-spacing / 2 $base-spacing;
        min-width: 50px;
        max-width: 250px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: $font-size-2;

        &.hidden {
            visibility: hidden;
        }

        &:hover {
            background-color: #ddd;

            & + .arrow {
                &::after {
                    border-color: #ddd transparent transparent transparent;
                }
            }
        }
    }
}

.tag-list {
    margin-bottom: $section-spacing;
}

.tabbed-content-carousel-item-container {
    margin-bottom: $base-spacing * 2;

    .tabbed-content-carousel-item {
        height: 250px;
    }
}
