@import "../../styles/variables";

input {
    border: $standard-border-width solid $standard-border-color;
    padding: $base-spacing;
    width: 100%;
    text-align: left;
    outline: none;

    &.blank {
        border: none;
        background-color: transparent;
        user-select: none;
    }

    &.underline {
        background-color: transparent;
        border: none;
        border-bottom: $standard-border-width solid $standard-border-color;
    }

    &.light {
        border-color: #fff;
        color: #fff;
    }
}
