@import "../../styles/variables";

input {
    border: $standard-border-width solid $standard-border-color;
    padding: $base-spacing;
    width: 100%;
    text-align: left;

    &.blank {
        border: none;
        background-color: transparent;
        user-select: none;
        outline: none;
    }
}
