@import "../../../styles/variables";

.mobile-welcome {
    margin-bottom: $base-spacing;

    .welcome-banner {
        display: block;
        position: relative;

        .welcome-banner-content {
            position: absolute;
            display: flex;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            color: #fff;
            padding: $base-spacing * 2;

            &.left {
                text-align: left;
                align-items: end;
            }

            .welcome-banner-title {
                font-family: $font-family-serif;
                font-size: $mobile-font-size-4;
                line-height: $mobile-line-height-4;
                font-weight: $font-weight-semibold;
                margin-bottom: $base-spacing;
            }

            .welcome-banner-description {
                font-size: $mobile-font-size-2;
                line-height: $mobile-line-height-2;
                margin-bottom: $base-spacing;
            }
        }
    }
}

.welcome-carousel {
    @media (max-width: 1440px) {
        margin: 0 -#{$page-spacing};
    }

    .welcome-banner {
        position: relative;

        .button {
            display: inline-block;
            min-width: 200px;
        }

        .grouped-buttons {
            .button {
                margin-right: $base-spacing * 2;
            }
        }

        .welcome-banner-content {
            position: absolute;
            display: flex;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;

            .white {
                color: #fff;
            }

            &.main {
                align-items: end;
                text-align: left;
                left: 50px;
            }

            &.left {
                margin-left: calc(25% - 250px);
            }

            &.right {
                margin-right: calc(25% - 250px);
            }

            &.left,
            &.right {
                width: 500px;
            }

            .left-content,
            .right-content {
                width: 500px;
                position: absolute;
            }

            .left-content {
                left: 0;
                margin-left: calc(12.5% - 250px);
            }

            .right-content {
                right: 0;
                margin-right: calc(12.5% - 250px);
            }

            .content-title {
                font-size: $font-size-5;
                font-weight: $font-weight-bold;
                line-height: $line-height-5;
                font-family: $font-family-serif;
                margin-bottom: $base-spacing * 2;
            }

            .content-description {
                font-size: $font-size-2;
                line-height: $line-height-3;
                margin-bottom: $base-spacing * 2;
            }
        }

        .button-outline {
            color: #fff;
            border-color: #fff;
        }
    }
}
