@import "../../styles/variables";

.product-view-container {
    max-width: 700px;
    margin: auto;
    padding-top: $section-spacing;

    .product {
        display: flex;
        margin: auto;
        margin-bottom: $section-spacing;
    }

    .product-content {
        img {
            width: 100%;
        }
    }

    .product-brand {
        margin-bottom: $base-spacing;
    }

    .product-title {
        margin-bottom: $section-spacing;
    }

    .product-price {
        font-size: $font-size-h2;
        margin-bottom: $section-spacing;
    }

    .product-action {
        margin-bottom: $base-spacing;

        &:last-of-type {
            margin-bottom: $section-spacing;
        }
    }

    .description {
        height: 400px;
        overflow-y: scroll;
    }

    .product-sidebar {
        display: inline-block;
        width: $sidebar-width;
        padding-left: $sidebar-padding;
    }

    .sticky-product-sidebar {
        transform: translate3d(0, 0, 0);
        position: fixed;
        width: $sidebar-width;
        padding-top: $base-spacing;
    }

    .divider {
        border-bottom: $standard-border-width solid $border-color;
        margin-bottom: $section-spacing;
    }
}
