@import "../../styles/variables";

.product-details {
    margin-bottom: $base-spacing;

    button {
        margin-bottom: $base-spacing;
    }

    .product-brand {
        font-family: $font-family-serif;
        font-weight: $font-weight-bold;
        font-size: $font-size-3;
        line-height: $line-height-3;
        margin-bottom: $base-spacing * 2;
    }

    .product-name {
        font-weight: $font-weight-bold;
        line-height: $font-size-4;
        font-size: $font-size-4;
    }

    .product-seller {
        font-size: $font-size-0;
        line-height: $line-height-0;
    }

    .product-price {
        font-family: $font-family-serif;
        font-weight: $font-weight-bold;
        font-size: $font-size-3;
        line-height: $line-height-3;
        margin-bottom: $base-spacing * 5;
    }

    .product-information {
        margin-bottom: $base-spacing * 2;
    }

    select {
        margin-bottom: $base-spacing;
    }
}

.mobile-product {
    padding: $mobile-page-spacing;
}

.product {
    padding: $page-spacing $content-spacing;

    .product-view {
        display: flex;
        width: 100%;
    }

    .product-images,
    .product-details {
        display: inline-block;
        width: 50%;
    }

    .product-images {
        display: flex;
        margin-right: $base-spacing * 2;

        .carousel-container {
            width: 100px;
            height: 400px;
        }

        .product-main-image {
            width: 100%;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-gap: $base-spacing * 2;
            display: grid;
            margin: auto;

            img {
                margin: auto;
            }
        }
    }

    .button-container {
        display: flex;

        button {
            margin: 0 $base-spacing;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
