@import "../../../styles/variables";

.featured-trending {
    padding: $mobile-page-spacing;
    padding-bottom: 0;

    .tabbed-section {
        margin-bottom: 0;
    }
}

$trending-item-size: 50px;

.featured-container {
    overflow: hidden;
    display: flex;
    border-top: $standard-border-width solid $standard-border-color;

    .trendnine {
        padding: $base-spacing / 2 0;
        width: 50%;
        display: flex;
        align-items: center;

        .trendnine-image {
            height: $trending-item-size;
            width: $trending-item-size;
            margin-right: $base-spacing;
        }

        .trendnine-name {
            font-size: $mobile-font-size-2;
            font-weight: $font-weight-bold;
            margin-right: $base-spacing;
            height: 100%;
            overflow: hidden;
        }

        &:first-child {
            border-right: $standard-border-width solid $standard-border-color;
            margin-right: $base-spacing;
        }
    }
}

.trending-header {
    font-weight: $font-weight-regular;
    font-size: $font-size-1;
    color: $text-faded;
}

.trending-container {
    margin-bottom: $mobile-page-spacing;
    padding: $base-spacing / 2 0;
    border-top: $standard-border-width solid $standard-border-color;
    border-bottom: $standard-border-width solid $standard-border-color;

    .trending-post {
        display: flex;
        overflow: hidden;

        .trending-post-image {
            width: auto;
            margin-right: $base-spacing;

            img {
                width: $trending-item-size;
                height: $trending-item-size;
            }
        }

        .trending-post-details {
            height: $trending-item-size;
            font-size: $mobile-font-size-2;
            margin-right: $base-spacing;
            overflow: hidden;
            flex-grow: 1;

            .trending-post-title {
                font-weight: $font-weight-bold;
                display: flex;
                align-items: center;
            }
        }

        .trending-post-rank {
            font-size: $mobile-font-size-2;
            flex-shrink: 0;
            width: 50px;
            display: flex;
            align-items: center;
        }
    }
}
