@import "../../../styles/variables";

.featured-trending {
    margin-bottom: $mobile-page-spacing;

    .tabbed-section {
        margin-bottom: 0;
    }
}

.featured-container {
    .trendnine {
        display: flex;
        border-bottom: $standard-border-width solid $standard-border-color;
        padding-bottom: $mobile-page-spacing * 2;
        margin: $mobile-page-spacing * 2 0;

        .trendnine-image {
            width: 100px;
            height: 100px;
            flex-shrink: 0;
            margin-right: $mobile-page-spacing * 2;
        }

        .trendnine-details {
            height: 100px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .name {
                font-size: $mobile-font-size-1;
                font-weight: $font-weight-bold;
                margin-bottom: $base-spacing;
            }

            .intro {
                font-size: $mobile-font-size-1;
                line-height: $mobile-line-height-2;
            }
        }
    }
}

.trending-container {
    margin-bottom: $mobile-page-spacing;

    .trending-post {
        display: flex;
        border-bottom: $standard-border-width solid $standard-border-color;

        .trending-post-image {
            width: 80px;
            margin-right: $base-spacing;
        }

        .trending-post-detail-rank {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .trending-post-detail {
                font-size: $mobile-font-size-1;
                display: flex;
                align-items: center;
                margin-right: $base-spacing;
            }

            .trending-post-rank {
                display: flex;
                align-items: center;

                .rank-number {
                    margin-right: $base-spacing;
                }
            }
        }
    }
}

.tab-dots {
    display: flex;
    justify-content: center;
    width: 100%;

    .section-dot {
        margin: $base-spacing;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        border: $standard-border-width solid $standard-border-color;

        &::before {
            content: "";
        }

        &.selected {
            background-color: $standard-border-color;
        }
    }
}
