@import "../../styles/variables";

.nav-link {
    display: inline-block;
    padding: $base-spacing / 2 0;
    font-size: $font-size-callout;
    letter-spacing: $letter-spacing-callout;

    a {
        text-transform: uppercase;
        text-decoration: none;
    }

    &.small {
        a {
            font-size: $font-size-callout-small;
        }
    }

    &:hover {
        a {
            color: $text-primary;
            text-decoration: underline;
        }
    }

    &.selected {
        a {
            color: $text-primary;
            text-decoration: underline;
        }

        // margin-bottom: $standard-border-width * -2;
        border-bottom: ($standard-border-width * 2) solid $color-accent;
    }

    &.muted {
        a {
            color: $color-secondary;
        }

        &:hover a {
            color: $color-primary;
        }
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.user-header {
    .nav-link {
        padding: $base-spacing / 2 0;
        display: flex;
        align-items: center;
    }
}
