@import "../../styles/variables";

.nav-link {
    display: inline-block;
    padding: $base-spacing / 2 0;
    margin: 0 $large-spacing;
    font-weight: $font-weight-semibold;

    a {
        font-size: $font-size-1;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-decoration: none;
    }

    &.large {
        margin-left: 0;
        margin-right: $large-spacing * 2;

        a {
            font-size: $font-size-2;
            line-height: $line-height-2;
        }

        @media (max-width: 1300px) {
            margin-right: $large-spacing;

            a {
                font-size: $font-size-1;
            }
        }
    }

    &:hover {
        a {
            color: $text-primary;
        }
    }

    &.selected {
        a {
            color: $text-primary;
        }

        // margin-bottom: $standard-border-width * -2;
        border-bottom: ($standard-border-width * 2) solid $color-accent;
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.user-header {
    .nav-link {
        padding: $base-spacing / 2 0;
        display: flex;
        align-items: center;
    }
}
