@import "../../styles/variables";

.button {
    font-size: $font-size-callout;
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    padding: 13px 20px;
    width: 100%;
    letter-spacing: $letter-spacing-callout;
    outline: none;
    border-radius: $border-radius;
    border-color: $color-brand;
    text-align: center;

    &:hover {
        cursor: pointer;
    }

    &:disabled {
        opacity: 0.75;

        &:hover {
            cursor: auto;
            background-color: $color-accent;
            border: $standard-border-width solid transparent;
            color: $color-white;
        }
    }

    &.white {
        color: black;
        background-color: #fff;

        &:hover {
            background-color: transparent;
            color: #fff;
            border-color: #fff;
        }
    }

    &.small {
        padding: 8px 15px;
    }

    &.button-inline {
        display: inline-block;
        width: auto;
    }

    &.button-primary {
        background-color: $color-brand;
        color: #fff;

        &:hover {
            background-color: transparent;
            border-color: $color-brand;
            color: $color-brand;
        }
    }

    &.button-secondary {
        background-color: #fff;
        color: $text-primary;

        &:hover {
            background-color: transparent;
            border-color: #fff;
            color: #fff;
        }
    }

    &.button-top {
        font-size: $font-size-callout-small;
        color: #fff;
        border-color: #fff;
        background-color: transparent;

        &:hover {
            background-color: #fff;
            color: $color-brand;
        }
    }

    &.button-outline {
        background-color: transparent;
        border: $color-brand solid $standard-border-width;
        color: $color-brand;

        &:hover {
            background-color: $color-brand;
            color: $color-white;
        }

        &.white {
            color: #fff;
            border-color: #fff;

            &:hover {
                background-color: #fff;
                color: $color-brand;
            }
        }
    }

    &.button-blank {
        background-color: transparent;
        border: none;
        color: #000;
    }

    &.button-small {
        font-size: $font-size-1;
    }

    &.button-very-small {
        font-size: $font-size-1;
        padding: $base-spacing / 4 $base-spacing / 2;
    }

    &.button-wide {
        padding: 10px 50px;
    }
}

.link-button {
    font-size: $font-size-1;
    line-height: $line-height-1;
    letter-spacing: $letter-spacing-1 * 2;
    text-decoration: none;
    color: $color-grey-6;
    display: block;

    &.icon-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover,
    &:focus {
        cursor: pointer;
        color: $color-accent;
        opacity: 0.75;
    }

    &.selected {
        color: $color-accent;

        &:hover {
            color: darken($color-accent, 20%);
        }
    }

    &.inline {
        display: inline-block;
    }
}

.image-upload-button {
    display: none;
}

.image-upload-button-label {
    border: 1px solid $brand-color;
    border-radius: $standard-border-radius;
    padding: $base-spacing / 2 $base-spacing;
    display: flex;
    justify-content: center;
    max-width: 70px;
    text-align: center;

    &:hover {
        background-color: #000;
        color: #fff;
        border-color: #000;
        cursor: pointer;
    }
}
