@import "../../styles/variables";

.button {
    font-size: $font-size-2;
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    padding: $base-spacing;
    width: 100%;
    height: $button-height;
    letter-spacing: $letter-spacing-1;
    outline: none;
    border: $standard-border-width solid transparent;
    border-radius: $button-height / 2;
    background-color: $color-accent;
    color: #fff;

    &:hover {
        cursor: pointer;
        background-color: darken($color-accent, 20%);
    }

    &.button-inline {
        display: inline-block;
        width: auto;
    }

    &.button-outline {
        background-color: transparent;
        border: $brand-color solid $standard-border-width;

        &:hover {
            background-color: $color-accent;
            color: #fff;
            border: none;
        }
    }

    &.button-wide {
        padding: 0 70px;
    }

    &.rounded {
        border-radius: $rounded-border-radius;
    }
}

.link-button {
    font-size: $font-size-0;
    line-height: $line-height-0;
    letter-spacing: $letter-spacing-1 * 2;
    text-decoration: none;
    color: $color-grey-6;
    display: block;

    &:hover,
    &:focus {
        cursor: pointer;
        color: $color-accent;
    }

    &.selected {
        color: $color-accent;

        &:hover {
            color: darken($color-accent, 20%);
        }
    }

    &.inline {
        display: inline-block;
    }

    .icon {
        margin-right: 2px;
    }
}
