@import "../../../styles/variables";

.card-hover {
    .card-hover-header-container {
        border-bottom: $standard-border-width solid $standard-border-color;
        margin-bottom: $base-spacing;
        padding-bottom: $base-spacing + 1;
    }

    .card-hover-header {
        font-family: $font-family-serif;
        font-size: $font-size-3;
        padding-bottom: $base-spacing;
        border-bottom: $standard-border-width * 3 solid $color-accent;
    }
}

.post-card-hover-image {
    max-width: 200px;
}

.card-content {
    .title {
        -webkit-line-clamp: 2;
        // -webkit-box-orient: vertical;
        display: -webkit-box;
        height: $line-height-2 * 2;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .author {
        margin-bottom: $base-spacing;
    }
}

.post-card-footer {
    display: flex;
    justify-content: space-between;
}

.created {
    time {
        vertical-align: middle;
    }
}

.product-action-btns {
    display: flex;
    justify-content: space-between;
}

.action-btns {
    a {
        vertical-align: middle;
    }

    a:first-child {
        padding-right: $base-spacing;
    }
}
