@import "../../../styles/variables";

.card-hover {
    .card-hover-header-container {
        border-bottom: $standard-border-width solid $standard-border-color;
        margin-bottom: $base-spacing;
        padding-bottom: $base-spacing + 1;
    }

    .card-hover-header {
        font-size: $font-size-3;
        padding-bottom: $base-spacing;
        border-bottom: $standard-border-width * 3 solid $color-accent;
    }
}

.post-card-hover-image {
    max-width: 200px;
}

.card-content {
    .author {
        margin-bottom: $base-spacing;
    }
}

.post-card-footer {
    display: flex;
    justify-content: space-between;
}

.created {
    time {
        vertical-align: middle;
    }
}

.action-btns {
    a {
        vertical-align: middle;
    }

    a:first-child {
        padding-right: $base-spacing;
    }
}
