@import "../../styles/variables";

.facebook-login {
    background-color: #3b5998;
    text-transform: none;

    &:hover {
        &:disabled {
            background-color: #3b5998;
        }
    }
}

.google-login {
    font-size: $font-size-2;
    font-family: $font-family-sans-serif;
    text-transform: none;
    padding: $base-spacing;
    width: 100%;
    height: $button-height;
    letter-spacing: $letter-spacing-1;
    outline: none;
    border: $standard-border-width solid transparent;
    color: #fff;
    background-color: #dd4b39;

    &:hover {
        &:disabled {
            background-color: #dd4b39;
        }
    }
}

.auth-modal {
    width: 480px;
}

.mobile-auth-modal {
    width: 100%;
    box-sizing: border-box;
}

.auth-form {
    max-width: 420px;

    .input-container {
        border-bottom: $standard-border-width solid $standard-border-color;
        margin-top: $base-spacing * 2;
        margin-bottom: $base-spacing * 2;

        .google-login {
            width: 100%;
            max-width: 100%;
        }

        .facebook-login {
            width: 100%;
            max-width: 100%;
            margin-bottom: $base-spacing * 2;
        }
    }

    input {
        max-width: 420px;
        margin-bottom: $base-spacing * 2;
        display: block;
    }

    .input-header {
        display: flex;
        justify-content: space-between;
        padding-bottom: $base-spacing;

        .error-msg {
            color: $color-grey-2;
        }
    }

    input[type="submit"] {
        max-width: 200px;
        display: inline;
    }

    button {
        max-width: 200px;
        margin-top: $base-spacing;
        margin-bottom: $base-spacing;
    }

    .short-input-container {
        width: 50%;

        div {
            margin-right: $base-spacing;
        }
    }

    .name-container {
        display: flex;

        div {
            &:first-child {
                margin-right: $base-spacing;
            }

            &:last-child {
                margin-left: $base-spacing;
            }
        }
    }
}

.mobile-auth-form {
    padding: 60px;

    button {
        margin-bottom: $base-spacing;
    }

    input {
        font-size: $font-size-2;
        box-sizing: border-box;
        margin-bottom: $base-spacing;

        &:last-of-type {
            margin-bottom: $base-spacing * 2;
        }
    }

    .form-name {
        font-size: $font-size-3;
        margin-bottom: $base-spacing * 3;
    }

    .toggle-register {
        border-top: $standard-border-width solid $standard-border-color;
        padding-top: $base-spacing * 2;

        p {
            font-size: $font-size-2;
        }
    }
}

.link-buttons-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: $base-spacing * 2;

    a {
        text-decoration: underline;
        color: $color-grey-2;
    }

    button {
        margin-top: 0;
        margin-bottom: $base-spacing * 2;
    }
}
