@import "../../styles/variables";

.author {
    display: flex;
    font-size: $font-size-1;

    &:hover {
        cursor: pointer;
        color: $color-accent;
    }

    img {
        display: inline-block;
        height: $icon-size-1;
        width: $icon-size-1;
        border-radius: 100%;
        object-fit: cover;
        margin-right: $base-spacing;
    }
}
