@import "../../styles/variables";

.author {
    display: flex;
    font-size: $font-size-1;

    img {
        display: inline-block;
        height: 16px;
        width: 16px;
        border-radius: 100%;
        object-fit: cover;
        margin-right: $base-spacing;
    }
}
