@import "../../styles/variables";

.category-sidebar-container {
    margin-left: -2 * $base-spacing;

    .tree-item {
        list-style: none;
        padding-left: 2 * $base-spacing;

        li {
            padding: $base-spacing 0;

            a {
                display: inline-flex;
            }
        }
    }
}
