@import "../../styles/variables";

.shop {
    display: flex;
    margin-bottom: $base-spacing * 2;
}

.category-sidebar-container {
    .navigation {
        display: flex;
        margin-bottom: $base-spacing * 2;

        &,
        .link-button {
            color: $text-faded;
        }
    }

    .tree-item {
        list-style: none;
        padding-left: 2 * $base-spacing;

        &.head {
            padding-left: 0;
        }

        .category-container {
            a {
                display: inline-flex;
            }
        }

        .category {
            display: flex;
            margin-bottom: $base-spacing * 2;

            .category-name {
                margin-bottom: 0;
                margin-right: $base-spacing;
            }
        }
    }

    .category-header {
        font-weight: $font-weight-bold;
        font-size: $font-size-2;
        font-family: $font-family-serif;
        border-bottom: $standard-border-width solid $standard-border-color;
        padding-bottom: $base-spacing;
        margin-bottom: $base-spacing;
    }

    .category-collapse .icon {
        width: 10px;
        height: 10px;
    }
}

.search-text-container {
    .search-help {
        color: $text-faded;
        margin-bottom: $base-spacing * 2;
    }

    .search-text {
        padding-left: $base-spacing * 2;
        padding-bottom: $base-spacing;
        font-family: $font-family-serif;
        font-size: $font-size-4;
        font-weight: $font-weight-bold;
        max-width: 860px;
        color: $text-primary;
        border-bottom: solid $standard-border-width #000;
    }
}
