@import "../../../styles/variables";

.filter-container {
    position: relative;
    z-index: 2;
    width: 100%;
    background-color: $base-background-color;
    padding-top: 22px;

    .filter-anchor {
        height: $filter-height;
    }

    .filter-list {
        background-color: $color-white;
        border: $standard-border-width solid $standard-border-color;
        padding: 0 $base-spacing * 2;
        display: flex;
        margin: auto;
        list-style: none;

        li {
            display: flex;
            margin-right: 60px;
        }

        .filter-menu {
            font-weight: $font-weight-bold;
            padding: $card-spacing 0;
            padding-bottom: $card-spacing - $standard-border-width;
            margin-bottom: -1 * $standard-border-width * 2;
        }

        .selected {
            border-bottom: $standard-border-width * 3 solid $brand-color;
        }
    }

    .filter-content-box {
        padding-top: $base-spacing * 2;
        padding-bottom: 0;
        position: absolute;
        width: 100%;
    }
}

.sticky-filter-container {
    position: fixed;
    width: calc(min(100%, 1440px) - #{$sidebar-width} - #{$sidebar-padding} - #{$page-spacing} * 2 + 2 * #{$base-spacing});
    background-color: $base-background-color;
    padding-bottom: $base-spacing * 2;
    margin-left: -1 * $base-spacing;
    z-index: 2;
    top: $navbar-height - $standard-border-width;

    .filter-container {
        margin-left: $base-spacing;

        .sort-select {
            right: $base-spacing * 2;
        }
    }

    .filter-dropdown {
        .filter-content-box {
            width: calc(100% - #{$base-spacing} * 2);
        }
    }
}

// .mobile-filter,
// .sticky-mobile-filter {
//     width: 100%;
//     display: flex;
//     justify-content: space-between;

//     .grid-sizes {
//         align-items: center;
//         display: flex;

//         .icon {
//             padding-left: $base-spacing;
//         }
//     }
// }

// .sticky-mobile-filter {
//     width: 100%;
//     box-sizing: border-box;
//     position: fixed;
//     z-index: 3;
//     top: 59px;
//     left: 0;
//     padding: $mobile-page-spacing;
//     background-color: $base-background-color;

//     .mobile-filter {
//         width: 100%;
//     }
// }
