@import "../../../styles/variables";

.filter-container {
    .filter-anchor {
        padding-bottom: $card-spacing;
    }

    .filter-list {
        background-color: $color-white;
        border: solid $standard-border-width $color-grey-2;
        padding: 0 $base-spacing * 2;
        display: flex;
        justify-content: space-between;
        margin: auto;
        list-style: none;

        li {
            display: flex;
        }

        .anchor {
            padding: $card-spacing 0;
        }

        .anchor:hover {
            border-bottom: $standard-border-width * 3 solid $color-red-1;
            padding-bottom: $card-spacing - $standard-border-width;
            margin-bottom: -1 * $standard-border-width * 2;
        }

        .selected {
            border-bottom: $standard-border-width * 3 solid $color-red-1;
            padding-bottom: $card-spacing - $standard-border-width;
            margin-bottom: -1 * $standard-border-width * 2;
        }
    }
}
