@import "../../../styles/variables";

.filter-container {
    position: fixed;
    z-index: 1;
    width: calc(100% - #{$sidebar-width} - #{$sidebar-padding} - 4 * #{$base-spacing});
    background-color: $color-grey-0;

    .filter-anchor {
        padding-bottom: $filter-padding;
        height: $filter-height;
        padding-top: $content-spacing;
    }

    .filter-list {
        background-color: $color-white;
        border: solid $standard-border-width $color-grey-2;
        padding: 0 $base-spacing * 2;
        display: flex;
        justify-content: space-between;
        margin: auto;
        list-style: none;

        li {
            display: flex;
        }

        .anchor {
            padding: $card-spacing 0;
        }

        .anchor:hover {
            border-bottom: $standard-border-width * 3 solid $color-red-1;
            padding-bottom: $card-spacing - $standard-border-width;
            margin-bottom: -1 * $standard-border-width * 2;
        }

        .selected {
            border-bottom: $standard-border-width * 3 solid $color-red-1;
            padding-bottom: $card-spacing - $standard-border-width;
            margin-bottom: -1 * $standard-border-width * 2;
        }
    }
}
