@import "../../../../styles/variables";

.filter-content-container {
    background-color: $color-white;
    border: solid $standard-border-width $color-grey-2;
    border-top: 0;
    font-size: $font-size-1;
    line-height: $line-height-1;
    max-height: $filter-content-max-height;

    .filter-action-bar {
        position: relative;
        display: flex;
        padding: $base-spacing * 2;
        height: $button-height-sm;

        .filter-action-buttons {
            button {
                margin: 0;
                width: $button-width-sm;
                height: $button-height-sm;

                &:first-child {
                    border-right: 0;
                }
            }

            position: absolute;
            right: $base-spacing * 2;
        }

        .filter-action {
            min-width: $min-card-width;
            width: calc(100% - #{$button-width-sm} * 2 - #{$base-spacing} * 2);
        }
    }

    ::-webkit-scrollbar {
        width: $scroll-width;
    }

    ::-webkit-scrollbar-track {
        background: $color-grey-2;
        border-left: $color-white solid ($scroll-width - $scroll-track-width - $scroll-track-thumb-width);
        border-right: $color-white solid $scroll-track-thumb-width;
    }

    ::-webkit-scrollbar-thumb {
        background: $color-accent;
        border-right: $color-white solid ($scroll-width - $scroll-track-thumb-width);
    }

    .filter-content {
        max-height: $filter-content-max-height - $base-spacing * 4 - $button-height-sm;
        overflow-y: auto;

        .filter-result-list {
            padding: $base-spacing * 2;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            grid-gap: 20px;
            list-style: none;
        }

        .filter-no-result {
            padding: $base-spacing * 2;
        }
    }
}

.search-filter-input-container {
    .search-filter-input {
        background-color: transparent;
        outline: none;
        border: 0;
        padding: $base-spacing 0;
        margin-left: $base-spacing;
    }

    border: $standard-border-width solid $color-grey-2;
    padding: 0 $base-spacing;
    height: $button-height-sm;
    display: flex;
    vertical-align: middle;
}
