@import "../../../styles/variables";

.featured-trendnine {
    display: flex;
    padding: $base-spacing;
    border-bottom: $standard-border-width solid $standard-border-color;

    &:last-child {
        border-bottom: 0;
    }

    img {
        flex-shrink: 0;
        display: inline-block;
        height: 85px;
        width: 85px;
        border-radius: 100%;
        object-fit: cover;
        margin-right: $base-spacing;
    }

    .trendnine-details {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        p {
            margin-bottom: 0;
        }

        .trendnine-name {
            font-size: $font-size-2;
            line-height: $line-height-2;
        }

        .trendnine-introduction {
            font-size: $font-size-1;
            line-height: $line-height-1;
            -webkit-line-clamp: 3;
            // -webkit-box-orient: vertical;
            display: -webkit-box;
            max-height: $line-height-1 * 3;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
