@import "../../../styles/variables";

.featured-trendnine {
    display: flex;
    margin-bottom: $base-spacing;

    &:last-of-type {
        margin-bottom: $base-spacing * 2;
    }

    img {
        flex-shrink: 0;
        display: inline-block;
        height: 100px;
        width: 100px;
        border-radius: 100%;
        object-fit: cover;
        margin-right: $base-spacing;
    }

    .trendnine-details {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .trendnine-name {
            font-size: $font-size-2;
        }

        .trendnine-introduction {
            font-size: $font-size-1;
            line-height: $line-height-1;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            max-height: $line-height-1 * 3;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
