@import "../../../styles/variables";

.menu {
    position: fixed;
    box-sizing: border-box;
    z-index: 5;
    top: 0;
    width: 100%;
    height: 100%;
    transition: transform ease 250ms;
    background-color: #000;
    color: #fff;
    font-weight: $font-weight-light;
    left: -100%;

    &.open {
        transform: translate3d(100%, 0, 0);
    }

    .link-button {
        color: #fff;
    }

    .menu-header {
        border-bottom: $standard-border-width solid #fff;
        padding: $mobile-page-spacing;
        text-align: center;

        .close {
            color: #fff;
            position: absolute;
            float: left;
            top: $mobile-page-spacing + 4;
            left: $mobile-page-spacing;
            font-size: 35px;
            font-weight: 200;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }

    .nav-logo {
        width: 150px;
        object-fit: contain;
        height: $mobile-icon-large;
    }

    .social-icons {
        display: flex;

        .social-icon {
            width: $mobile-icon-large;
            height: $mobile-icon-large;
            margin-right: $base-spacing * 2;
        }
    }

    .menu-content {
        padding: $mobile-page-spacing $mobile-icon-large + $mobile-page-spacing;
        height: calc(100% - 60px);
        overflow: scroll;
        box-sizing: border-box;

        .link-button {
            font-weight: $font-weight-light;
            text-transform: uppercase;
            font-size: $mobile-font-size-1;
            padding: $large-spacing 0;

            &.selected {
                font-weight: $font-weight-bold;
            }
        }
    }

    .subscribe-form {
        width: 100%;
        display: inline-flex;
        margin-bottom: $base-spacing;

        input[type="email"] {
            border-radius: $standard-border-radius 0 0 $standard-border-radius;
            border-right: none;
            background-color: transparent;
            color: #fff;
            font-weight: $font-weight-light;
        }

        input[type="submit"] {
            background-color: #fff;
            color: $text-primary;
            font-weight: $font-weight-light;
            font-size: $font-size-2;
            width: 150px;
            border-radius: 0 $standard-border-radius $standard-border-radius 0;
        }
    }
}

.menu-divider {
    margin: $base-spacing * 2 0;
    border-bottom: $standard-border-width solid #fff;
}
