@import "../../../styles/variables";

.menu-container {
    display: flex;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 0;
    height: 100%;
    box-sizing: border-box;
    z-index: 5;
    left: 0;
    overflow: hidden;

    .menu {
        width: 100%;
        background-color: #fff;
        font-weight: $font-weight-light;
    }

    .menu-header {
        border-bottom: $standard-border-width solid $border-color;
        padding: $mobile-page-spacing;
        text-align: center;

        .close {
            color: #000;
            position: absolute;
            float: left;
            top: $mobile-page-spacing + 4;
            left: $mobile-page-spacing;
            font-size: 35px;
            font-weight: 200;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }

    .nav-logo {
        width: 145px;
        object-fit: contain;
    }

    .nav-item {
        font-size: $mobile-font-size-3;
        color: $color-secondary;
        text-decoration: none;
        margin-bottom: $base-spacing * 2;
    }

    .menu-nav {
        padding: $base-spacing * 2 $mobile-base-spacing;
    }

    .menu-content {
        height: calc(100% - 60px);
        overflow: scroll;
        box-sizing: border-box;

        .follow-items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: $base-spacing * 2 $mobile-base-spacing;
            border-bottom: $standard-border-width solid $border-color;

            .social-icon {
                &:not(:last-of-type) {
                    margin-right: $base-spacing;
                }
            }
        }

        .nav-items {
            padding: 0 $mobile-base-spacing;
            border-bottom: $standard-border-width solid $border-color;
        }

        .menu-item {
            display: flex;
            justify-content: space-between;
            padding: $base-spacing * 2 0;
            align-items: center;

            &:not(:last-of-type) {
                border-bottom: $standard-border-width solid $border-color;
            }
        }

        .menu-item-text {
            font-weight: $font-weight-bold;
            font-size: $mobile-font-size-3;
        }
    }

    .subscribe-form {
        width: 100%;
        display: inline-flex;
        margin-bottom: $base-spacing;

        input[type="email"] {
            border-radius: $standard-border-radius 0 0 $standard-border-radius;
            border-right: none;
            background-color: transparent;
            color: #fff;
            font-weight: $font-weight-light;
        }

        input[type="submit"] {
            background-color: #fff;
            color: $text-primary;
            font-weight: $font-weight-light;
            font-size: $font-size-2;
            width: 150px;
            border-radius: 0 $standard-border-radius $standard-border-radius 0;
        }
    }
}

.menu-divider {
    margin: $base-spacing * 2 0;
    border-bottom: $standard-border-width solid #fff;
}
