@import "../../styles/variables";

.shop {
    display: flex;
    margin-bottom: $base-spacing * 2;
}

.mobile-shop {
    margin-bottom: $base-spacing * 2;

    .shop-main-carousel {
        margin-bottom: $base-spacing * 4;
    }

    .shop-main-banner,
    .full-screen-content {
        position: relative;
        display: block;

        .shop-main-text {
            position: absolute;
            display: flex;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: #fff;
            padding: $mobile-page-spacing * 2;

            .banner-title {
                font-size: $mobile-font-size-4;
                font-family: $font-family-serif;
                font-weight: $font-weight-semibold;
                margin-bottom: $base-spacing * 2;
            }

            .banner-detail {
                font-size: $mobile-font-size-1;
                margin-bottom: $base-spacing * 2;
                line-height: $mobile-line-height-2;
            }
        }
    }

    .half-screen-content {
        margin: $mobile-page-spacing;
        text-align: center;

        .image-container {
            margin-bottom: $base-spacing;
        }

        .half-screen-title {
            font-size: $mobile-font-size-3;
            font-family: $font-family-serif;
            font-weight: $font-weight-bold;
            margin-bottom: $base-spacing;
        }
    }

    .divider {
        border-bottom: $standard-border-width solid $standard-border-color;
        margin: $base-spacing * 4 0;
    }

    .popular-post-container {
        margin: 0 $mobile-page-spacing;

        .post-card {
            margin: $base-spacing;
        }
    }

    .shop-category-title {
        text-align: center;
        font-size: $mobile-font-size-3;
        font-family: $font-family-serif;
        font-weight: $font-weight-bold;
        margin-bottom: $base-spacing;
    }

    .category {
        display: block;
        margin: $base-spacing;

        .image-container {
            margin-bottom: $base-spacing;
        }

        .category-name {
            text-align: center;
            font-weight: $font-weight-bold;
            font-size: $font-size-2;
        }
    }
}

.desktop-shop {
    margin-bottom: $base-spacing * 10;

    button {
        min-width: 200px;
    }

    .category {
        display: block;
        margin: $base-spacing;
        margin-bottom: $base-spacing * 3;
        max-width: 200px;
        max-height: 200px;

        .image-container {
            margin-bottom: $base-spacing;
        }

        .category-name {
            text-align: center;
            font-weight: $font-weight-bold;
            font-size: $font-size-2;
        }
    }

    .divider {
        border-bottom: $standard-border-width solid $standard-border-color;
        margin: $base-spacing * 4 0;
    }

    .shop-category-title {
        font-family: $font-family-serif;
        font-weight: $font-weight-bold;
        font-size: $font-size-4;
        text-align: center;
        margin-bottom: $base-spacing * 2;
    }

    .shop-main-carousel {
        margin-bottom: $base-spacing * 6;

        @media (max-width: 1440px) {
            margin: 0 -#{$page-spacing};
            margin-bottom: $base-spacing * 6;
        }

        .shop-main-banner {
            display: block;
            position: relative;
        }

        .shop-main-text {
            position: absolute;
            display: flex;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #fff;
            width: 600px;

            &.center {
                margin: auto;
            }

            &.left {
                width: 500px;
                margin-left: calc(25% - 250px);
            }

            &.dark {
                color: #000;
            }

            .banner-title {
                font-family: $font-family-serif;
                font-weight: $font-weight-bold;
                font-size: $font-size-5;
                line-height: $line-height-5;
                margin-bottom: $base-spacing;
            }

            .banner-detail {
                text-align: center;
                font-size: $font-size-3;
                font-weight: $font-weight-light;
                line-height: $line-height-3;
                margin-bottom: $base-spacing * 3;
            }
        }
    }

    .full-screen-content {
        display: block;
        position: relative;

        .full-screen-item {
            position: absolute;
            display: flex;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .full-screen-title {
            color: #fff;
            font-family: $font-family-serif;
            font-weight: $font-weight-bold;
            font-size: $font-size-5;
            line-height: $line-height-5;
            margin-bottom: $base-spacing;
        }
    }

    .half-screen-content {
        display: flex;

        .half-screen-item {
            text-align: center;
            width: 100%;

            &:first-of-type {
                margin-right: $base-spacing * 2;
            }

            .image-container {
                margin-bottom: $base-spacing;
            }

            .half-screen-item-title {
                font-family: $font-family-serif;
                font-size: $font-size-4;
                font-weight: $font-weight-bold;
                margin-bottom: $base-spacing * 2;
            }
        }
    }

    .popular-post-container {
        margin-bottom: $base-spacing * 2;

        .post-card {
            margin: $base-spacing;
        }
    }

    .view-all {
        text-align: center;
    }
}
