@import "./variables.scss";

body {
    font-family: $font-family-sans-serif;
    font-size: $font-size-1;
    line-height: $line-height-1;
    letter-spacing: $letter-spacing-1;
    margin: 0;
    color: $text-primary;
    background-color: $base-background-color;

    .hidden {
        display: none !important;
    }
}

p {
    margin: 0;
    margin-bottom: $base-spacing;
}

a {
    text-decoration: none;
    color: $text-primary;
}

.main-content {
    // position: relative;
    margin: auto;
    padding: 0 $page-spacing;
    margin-top: $navbar-height;
    max-width: $max-content-width;
    min-width: $min-content-width;
    min-height: calc(100% - #{$navbar-height});

    &.mobile-view {
        padding: 0;
        margin-top: 110px;
        min-width: 100%;
    }
}

.noscroll {
    overflow: hidden;
}

.noscroll-ios {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.full-width {
    width: 100%;
}

.flex {
    display: flex;
    width: 100%;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.error {
    color: red;
}
