@import "./variables.scss";

body {
    font-family: $font-family-sans-serif;
    letter-spacing: $letter-spacing-1;
    margin: 0;
    color: $text-primary;
    background-color: $color-grey-0;

    .hidden {
        display: none !important;
    }
}

p {
    margin: 0;
    margin-bottom: $base-spacing;
}
