$color-grey-6: #000;
$color-grey-5: #222;
$color-grey-4: #666;
$color-grey-3: #ccc;
$color-grey-2: #999;
$color-grey-1: #e8e8e8;
$color-grey-0: #f9f9f9;
$color-red-1: #cd203e;
$color-green-1: #69b7c4;

$color-white: #fff;
