$font-size-1: 11px;
$font-size-2: 13px;
$font-size-3: 16px;
$font-size-4: 24px;
$font-size-5: 54px;

$letter-spacing-1: 0.02em;

$line-height-1: 14px;
$line-height-2: 24px;
$line-height-3: 24px;
$line-height-4: 34px;
$line-height-5: 64px;

$font-family-sans-serif: "lato", sans-serif;
$font-family-serif: 'Playfair Display', serif;

$font-weight-light: 300;
$font-weight-bold: 700;

$icon-size-1: 16px;
$icon-size-2: 25px;
$icon-size-3: 50px;

$mobile-icon-size: 30px;

$checkbox-size: 14px;
$mobile-checkbox-size: 20px;

$header-font-size-1: 54px;
$header-line-height-1: 64px;

$mobile-header-font-size-1: 24px;
$mobile-header-line-height-1: 36px;
