$font-size-1: 12px;
$font-size-2: 14px;
$font-size-3: 18px;
$font-size-4: 24px;
$font-size-5: 54px;

$mobile-font-size-1: 13px;
$mobile-font-size-2: 15px;
$mobile-font-size-3: 20px;
$mobile-font-size-4: 32px;
$mobile-font-size-5: 40px;

$letter-spacing-1: 0.02em;
$letter-spacing-2: 0.03em;

$line-height-1: 17px;
$line-height-2: 24px;
$line-height-3: 27px;
$line-height-4: 32px;
$line-height-5: 64px;

$mobile-line-height-1: 18px;
$mobile-line-height-2: 23px;
$mobile-line-height-3: 28px;
$mobile-line-height-4: 40px;

$font-family-sans-serif: "lato", sans-serif;
$font-family-serif: 'Playfair Display', serif;

$font-weight-very-light: 200;
$font-weight-light: 300;
$font-weight-regular: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$icon-size-1: 15px;
$icon-size-2: 25px;
$icon-size-3: 50px;
$icon-size-4: 10px;

$icon-size-small: 10px;
$icon-size-medium: 15px;
$icon-size-large: 20px;

$mobile-icon-small: 15px;
$mobile-icon-medium: 20px;
$mobile-icon-large: 28px;

$checkbox-size: 14px;
$mobile-checkbox-size: 20px;

$header-font-size-1: 54px;
$header-line-height-1: 64px;

$mobile-header-font-size-1: 24px;
$mobile-header-line-height-1: 36px;
