$font-size-0: 11px;
$font-size-1: 12px;
$font-size-2: 14px;
$font-size-3: 18px;
$font-size-4: 30px;
$font-size-5: 54px;

$font-size-small: 13px;

$letter-spacing-1: 0.02em;

$line-height-1: 15px;
$line-height-2: 20px;

$font-family-sans-serif: "lato", sans-serif;
$font-family-serif: 'Playfair Display', serif;

$font-weight-bold: 700;

$icon-size-1: 16px;
$icon-size-2: 25px;
$checkbox-size: 14px;

$header-font-size-1: 54px;
$header-line-height-1: 64px;
