@import "./typography";
@import "./color";

// Colors
$brand-color: $color-red-1;
$text-primary: $color-grey-1;
$color-accent: $brand-color;

// Styles
$card-spacing: 15px;
$base-spacing: 12px;
$large-spacing: 18px;

$standard-border-width: 1px;
$standard-border-color: $text-primary;
