@import "./typography";
@import "./color";

// Colors
$brand-color: $color-grey-6;
$text-primary: $color-grey-6;
$color-accent: $brand-color;
$text-faded: $color-grey-4;

// Styles
$base-background-color: $color-white;
$page-spacing: 40px;
$content-spacing: 60px;
$card-spacing: 20px;
$base-spacing: 10px;
$base-spacing-sm: 5px;
$large-spacing: 18px;
$button-height: 40px;
$filter-height: 15px;
$search-text-height: 93px;
$filter-padding: 30px;

$mobile-page-spacing: 14px;

// Navbar
$navbar-height: 110px;
$navbar-menu-height: 50px;

$mobile-navbar-height: 45px;
$mobile-app-header-height: 50px;

// Button
$button-width-xs: 90px;
$button-width-sm: 130px;
$button-height-sm: 34px;

// Borders
$standard-border-width: 1px;
$standard-border-color: $_color-grey-4;
$standard-border-radius: 3px;
$rounded-border-radius: 5px;

$min-card-per-row: 3;
$min-card-width: 198px;
$min-card-width-with-border: $min-card-width + $standard-border-width * 2;
$card-hover-width: 220px;

$carousel-item-width: 180px;

$sidebar-width: 280px;
$sidebar-padding: 45px;

$ranking-img-height: 65px;
$ranking-img-width: $ranking-img-height;

$hover-img-height: 70px;
$hover-img-width: $hover-img-height;

$filter-content-max-height: 360px;

$scroll-width: 10px;
$scroll-track-width: 1px;
$scroll-track-thumb-width: 6px;

$profile-image-size: 22px;
$max-page-width: 1200px;
$min-page-width: 800px;

$max-content-width: 960px;

// Card

$min-card-width-1: 220px;
$min-card-width-2: 148px;
$min-card-width-3: 98px;

$articles-max-width: 900px;

// -------- New --------- //
$color-primary: $_color-grey-1;
$color-secondary: $_color-grey-2;
$color-muted: $_color-grey-3;
$color-brand: #652fd8;

$section-spacing: $base-spacing * 3;
$element-spacing: $base-spacing * 3;

$border-color: $_color-grey-4;
$border-width: 2px;
$border-radius: 5px;
$drop-shadow: 0 0 5px rgba(149, 149, 149, 0.5);
