@import "../../styles/variables";

.spinner-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
}

.spinner {
    width: 40px;
    height: 40px;
    margin: $large-spacing * 2 auto;
    background-color: #333;
    border-radius: 100%;
    animation: sk-scaleout 1s infinite ease-in-out;

    &.no-padding {
        margin: 0;
    }
}

.flat-spinner {
    display: inline-block;
    position: relative;
    width: 64px;
    height: $line-height-1;
}

.flat-spinner div {
    position: absolute;
    top: calc((#{$line-height-1} - 7px) / 2);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    &:nth-child(1) {
        left: 6px;
        animation: flat-spinner1 0.6s infinite;
    }

    &:nth-child(2) {
        left: 6px;
        animation: flat-spinner2 0.6s infinite;
    }

    &:nth-child(3) {
        left: 26px;
        animation: flat-spinner2 0.6s infinite;
    }

    &:nth-child(4) {
        left: 45px;
        animation: flat-spinner3 0.6s infinite;
    }
}

@keyframes flat-spinner1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes flat-spinner3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes flat-spinner2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(19px, 0);
    }
}

@-webkit-keyframes sk-scaleout {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}
