@import "../../styles/variables";

.content {
    display: inline-block;
    flex: 1;
    width: 100%;
    // min-width: $min-card-width-with-border * $min-card-per-row + $card-spacing * ($min-card-per-row - 1);
}
