@import "../../styles/variables";

.content {
    display: inline-block;
    flex: 1;
    max-width: calc(100% - #{$sidebar-width} - #{$sidebar-padding});
}

.grid-content {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 20px;
}
