@import "../../styles/variables";

.user {
    display: flex;
    padding: 0 $page-spacing;

    .followers {
        display: flex;
        justify-content: space-between;

        .identifier {
            display: inline-block;
            margin-right: $base-spacing;
            font-size: $font-size-1;
        }

        .count {
            font-size: $font-size-2;
        }
    }

    .user-nav {
        border-bottom: $standard-border-width solid $standard-border-color;
    }

    .user-image {
        padding: 0 50px;
        margin-bottom: $base-spacing * 2;
    }

    .introduction {
        font-size: $font-size-small;
    }

    .sidebar {
        button {
            margin-bottom: $base-spacing * 2;
        }
    }

    .filter-container {
        padding-top: $content-spacing;

        .filter-anchor {
            padding-top: $base-spacing * 2;
        }
    }

    .card-container {
        padding-top: $filter-height + $filter-padding + $content-spacing + 70px;
    }
}
