@import "../../styles/variables";

.user {
    display: flex;
    padding: 0 $page-spacing;

    .followers {
        display: flex;
        justify-content: space-between;

        .identifier {
            display: inline-block;
            margin-right: $base-spacing;
            font-size: $font-size-1;
        }

        .count {
            font-size: $font-size-2;
        }
    }

    .content {
        margin-top: $content-spacing;
    }

    .user-nav {
        border-bottom: $standard-border-width solid $standard-border-color;
    }

    .user-image {
        padding: 0 50px;
    }

    .sidebar {
        button {
            margin-bottom: $base-spacing * 2;
        }
    }
}
