@import "../../styles/variables";

.tag-container {
    padding: $base-spacing;
    display: flex;
    flex-wrap: wrap;

    .tag {
        font-size: $font-size-1;
    }
}

.settings-auth-form {
    max-width: 420px;

    .input-container {
        border-bottom: $standard-border-width solid $standard-border-color;
        margin-top: $base-spacing * 2;
        margin-bottom: $base-spacing * 2;

        .google-login {
            width: 100%;
            max-width: 100%;
        }

        .facebook-login {
            width: 100%;
            max-width: 100%;
            margin-bottom: $base-spacing * 2;
        }
    }

    input {
        max-width: 420px;
        margin-bottom: $base-spacing * 2;
        display: block;
    }

    .input-header {
        display: flex;
        justify-content: space-between;
        padding-bottom: $base-spacing;

        .error-msg {
            color: $color-grey-2;
        }
    }

    input[type="submit"] {
        max-width: 200px;
        display: inline;
    }

    button {
        max-width: 200px;
        margin-top: $base-spacing;
        margin-bottom: $base-spacing;
    }

    .short-input-container {
        width: 50%;

        div {
            margin-right: $base-spacing;
        }
    }

    .name-container {
        display: flex;

        div {
            &:first-child {
                margin-right: $base-spacing;
            }

            &:last-child {
                margin-left: $base-spacing;
            }
        }
    }
}

.mobile-auth-form {
    padding: 60px;

    button {
        margin-bottom: $base-spacing;
    }

    input {
        font-size: $font-size-2;
        box-sizing: border-box;
        margin-bottom: $base-spacing;

        &:last-of-type {
            margin-bottom: $base-spacing * 2;
        }
    }

    .form-name {
        font-size: $font-size-3;
        margin-bottom: $base-spacing * 3;
    }

    .toggle-register {
        border-top: $standard-border-width solid $standard-border-color;
        padding-top: $base-spacing * 2;

        p {
            font-size: $font-size-2;
        }
    }
}

.user-nav {
    border-bottom: $standard-border-width solid $standard-border-color;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.user {
    display: flex;

    .user-image {
        padding: $base-spacing;
        display: flex;

        .image-container {
            height: 90px;
            width: 90px;
        }
    }

    .introduction {
        font-size: $font-size-1;
        line-height: $line-height-1;
        padding: $base-spacing;
        padding-top: $base-spacing * 2;
    }

    .follow-container {
        padding: $base-spacing;

        button {
            height: $button-height-sm;
            padding: 0;
        }
    }

    .activity-container {
        padding: $base-spacing;
        padding-left: $base-spacing * 2;
        line-height: $line-height-3;

        .identifier {
            display: inline-block;
            margin-right: $base-spacing;
            font-size: $font-size-1;
            line-height: $line-height-1;
        }

        .count {
            font-size: $font-size-2;
            line-height: $line-height-2;
        }
    }

    .social-container {
        padding: $base-spacing;
        margin-top: $base-spacing * 3;
        border-top: $standard-border-width solid $standard-border-color;
    }
}

.mobile-user {
    padding: $mobile-page-spacing;
    padding-top: $mobile-page-spacing * 2;
    background-color: $base-background-color;

    .user-name {
        font-size: $font-size-4;
        font-family: $font-family-serif;
        font-weight: $font-weight-bold;
        margin-bottom: $mobile-page-spacing;
        line-height: normal;
    }

    .user-details {
        display: flex;
        margin-bottom: $base-spacing;

        .user-image {
            margin-right: $base-spacing;

            .image-container {
                height: 100px;
                width: 100px;
            }
        }
    }

    .follow-container {
        margin-bottom: $base-spacing * 2;
    }

    .activity-container {
        border-top: $standard-border-width solid $standard-border-color;
        border-bottom: $standard-border-width solid $standard-border-color;
        margin: $base-spacing (-$mobile-page-spacing);
        padding: $mobile-page-spacing;

        .activity-item {
            display: inline-block;
            width: 50%;
            font-size: $font-size-2;

            .identifier {
                font-weight: $font-weight-bold;
                margin-left: $base-spacing;
                margin-right: $base-spacing * 2;
            }
        }
    }
}
