@import "../../styles/variables";

.onboarding {
    margin-top: $base-spacing * 2;

    .welcome {
        font-family: $font-family-serif;
        text-align: center;
        font-size: $font-size-4;
        font-weight: $font-weight-bold;
        margin-bottom: $base-spacing * 2;
    }

    .get-started {
        text-align: center;
        font-size: $font-size-2;
        margin-bottom: $base-spacing * 2;
    }

    .onboarding-actions {
        display: flex;
        justify-content: space-between;
    }

    &.mobile {
        margin-top: 0;

        .welcome {
            font-size: $mobile-font-size-2;
        }

        .onboarding-actions {
            display: block;

            .button-container {
                margin-bottom: $base-spacing;
            }
        }
    }
}

.onboarding-modal {
    width: 800px;
}
