@import "../../styles/variables";

.card {
    background-color: #fff;

    .card-hover-details {
        visibility: hidden;
        z-index: 1;
        position: absolute;
        width: 420px;
        height: 340px;
        padding: $base-spacing * 2;
        background-color: #fff;
        margin-left: 300px;

        .card-hover-header-container {
            border-bottom: $standard-border-width solid $standard-border-color;
            margin-bottom: $base-spacing;
            padding-bottom: $base-spacing + 1;
        }

        .card-hover-header {
            font-size: $font-size-3;
            padding-bottom: $base-spacing;
            border-bottom: $standard-border-width * 3 solid $color-accent;
        }
    }

    .card-content {
        height: 140px;
        font-size: $font-size-1;

        .title {
            font-size: $font-size-2;
            line-height: $line-height-2;
            font-weight: bold;
            height: 44px;
            margin: 0;
            padding: $card-spacing;
        }

        .author {
            padding: 0 $card-spacing;
            height: 18px;
        }

        .card-footer {
            padding: $card-spacing;

            .created {
                float: left;
            }

            .action-btns {
                float: right;

                a:first-child {
                    padding-right: $base-spacing;
                }
            }
        }
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 12px #ccc;

        .card-hover-details {
            visibility: visible;
        }
    }
}

.card-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 20px;
}
