@import "../../styles/variables";

.card {
    background-color: #fff;

    .card-hover-details {
        visibility: hidden;
        z-index: 1;
        position: absolute;
        width: 420px;
        padding: $base-spacing * 2;
        background-color: #fff;
        margin-left: 300px;
        box-shadow: 0 0 15px $color-grey-1;
    }

    .card-content {
        font-size: $font-size-1;
        line-height: $line-height-1;
        padding: $card-spacing;

        .title,
        .title-1 {
            font-size: $font-size-2;
            line-height: $line-height-2;
            font-weight: bold;
        }
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 12px #ccc;

        .card-hover-details {
            visibility: visible;
        }
    }
}

.card-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(#{$min-card-width}, 1fr));
    padding-top: $filter-height + $filter-padding + $content-spacing;
    grid-gap: 2 * $base-spacing;
}

.card-container-extra-space {
    margin-top: $search-text-height + $content-spacing;
}
