@import "../../styles/variables";

$min-card-width-1: 198px;
$min-card-width-2: 148px;
$min-card-width-3: 98px;

.card {
    background-color: #fff;
    min-width: $min-card-width;
    box-shadow: 0 1px 1px rgba(25, 25, 25, 0.1);
    border-radius: $standard-border-radius;

    .card-hover-details {
        visibility: hidden;
        z-index: 1;
        position: absolute;
        width: $card-hover-width;
        background-color: #fff;
        margin: $base-spacing;
        box-shadow: 0 0 6px $color-grey-2;
    }

    .card-content {
        font-size: $font-size-1;
        line-height: $line-height-1;
        padding: $base-spacing;

        .title {
            font-size: $font-size-2;
            line-height: $line-height-2;
            font-weight: bold;
        }
    }

    .cover.card-image img {
        border-top-right-radius: $standard-border-radius;
        border-top-left-radius: $standard-border-radius;
    }

    &.mobile {
        .card-content {
            font-size: $mobile-font-size-1;
            line-height: $mobile-font-size-1;

            .title {
                font-size: $mobile-font-size-2;
                line-height: $mobile-line-height-3;
            }
        }
    }

    &.grid-size-2 {
        min-width: $min-card-width-2;

        &.mobile {
            .card-title-container {
                height: 50px;
            }

            .title {
                font-size: $mobile-font-size-1;
            }

            .author {
                font-size: $mobile-font-size-1;
            }
        }
    }

    &.grid-size-3 {
        min-width: $min-card-width-3;
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 6px #ccc;

        .card-hover-details {
            visibility: visible;
        }
    }
}

.card-container {
    padding-top: $filter-padding;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(#{$min-card-width-1}, 1fr));
    //padding-top: $filter-height + $filter-padding + $content-spacing;
    grid-gap: $card-spacing;

    &.grid-size-2 {
        grid-template-columns: repeat(auto-fill, minmax(#{$min-card-width-2}, 1fr));
        grid-gap: 15px;
    }

    &.grid-size-3 {
        grid-template-columns: repeat(auto-fill, minmax(#{$min-card-width-3}, 1fr));
        grid-gap: 10px;
    }
}

.card-container-extra-space {
    margin-top: $search-text-height + $content-spacing;
}
