@import "../../styles/variables";

.icon {
    display: inline-block;
    width: $icon-size-1;
    height: $icon-size-1;
    text-decoration: none;
    vertical-align: middle;
    margin: auto;

    &.medium {
        width: $icon-size-2;
        height: $icon-size-2;

        &::before {
            width: $icon-size-2 - 1;
            height: $icon-size-2 - 1;
        }
    }

    &.large {
        width: $icon-size-3;
        height: $icon-size-3;

        &::before {
            width: $icon-size-3 - 1;
            height: $icon-size-3 - 1;
        }
    }

    &.mobile {
        margin: 0;
        width: $mobile-icon-size;
        height: $mobile-icon-size;

        &::before {
            width: $mobile-icon-size - 1;
            height: $mobile-icon-size - 1;
        }
    }

    &::before {
        content: "";
        width: $icon-size-1 - 1;
        height: $icon-size-1 - 1;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        position: absolute;
    }
}

.icon-arrow-down::before {
    background-image: url("/img/icons/arrow_down.png");
}

.icon-arrow-down-red::before {
    background-image: url("/img/icons/arrow_down_red.png");
}

.icon-arrow-up::before {
    background-image: url("/img/icons/arrow_up.png");
}

.icon-arrow-left::before {
    background-image: url("/img/icons/arrow_left.png");
}

.icon-arrow-right::before {
    background-image: url("/img/icons/arrow_right.png");
}

.icon-arrow-up-green::before {
    background-image: url("/img/icons/arrow_up_green.png");
}

.icon-arrow-zero::before {
    background-image: url("/img/icons/arrow_zero.png");
}

.icon-comment::before {
    background-image: url("/img/icons/comments.png");
}

.icon-like::before {
    background-image: url("/img/icons/like.png");
}

.icon-like-filled::before {
    background-image: url("/img/icons/like_filled.png");
}

.icon-search::before {
    background-image: url("/img/icons/search.png");
}

.icon-time::before {
    background-image: url("/img/icons/time.png");
}

.icon-wishlist::before {
    background-image: url("/img/icons/wishlist.png");
}

.icon-wishlist-filled::before {
    background-image: url("/img/icons/wishlist_filled.png");
}

.icon-bag::before {
    background-image: url("/img/icons/bag.png");
}

.icon-girl::before {
    background-image: url("/img/icons/girl.png");
}

.icon-menu::before {
    background-image: url("/img/icons/menu.png");
}

.icon-close::before {
    background-image: url("/img/icons/close.png");
}
