@import "../../styles/variables";

.icon {
    display: inline-block;
    width: $icon-size-1;
    height: $icon-size-1;
    text-decoration: none;
    vertical-align: middle;
    margin: auto;
    object-fit: contain;

    &.medium {
        width: $icon-size-2;
        height: $icon-size-2;

        &::before {
            width: $icon-size-2 - 1;
            height: $icon-size-2 - 1;
        }
    }

    &.large {
        width: $icon-size-3;
        height: $icon-size-3;

        &::before {
            width: $icon-size-3 - 1;
            height: $icon-size-3 - 1;
        }
    }

    &.mobile {
        margin: 0;
        width: $mobile-icon-size;
        height: $mobile-icon-size;

        &::before {
            width: $mobile-icon-size - 1;
            height: $mobile-icon-size - 1;
        }

        &.small {
            width: $icon-size-1;
            height: $icon-size-1;

            &::before {
                width: $icon-size-1 - 1;
                height: $icon-size-1 - 1;
            }
        }
    }

    &::before {
        content: "";
        width: $icon-size-1 - 1;
        height: $icon-size-1 - 1;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        position: absolute;
    }
}
