@import "../../styles/variables";

.icon {
    display: inline-block;
    width: $icon-size-1;
    height: $icon-size-1;
    text-decoration: none;
    vertical-align: middle;
    margin: auto;
    object-fit: contain;

    &.small {
        width: $icon-size-small;
        height: $icon-size-small;

        &::before {
            width: $icon-size-small - 1;
            height: $icon-size-small - 1;
        }

        &.mobile {
            width: $mobile-icon-small;
            height: $mobile-icon-small;

            &::before {
                width: $mobile-icon-small - 1;
                height: $mobile-icon-small - 1;
            }
        }
    }

    &.medium {
        width: $icon-size-medium;
        height: $icon-size-medium;

        &::before {
            width: $icon-size-medium - 1;
            height: $icon-size-medium - 1;
        }

        &.mobile {
            width: $mobile-icon-medium;
            height: $mobile-icon-medium;

            &::before {
                width: $mobile-icon-medium - 1;
                height: $mobile-icon-medium - 1;
            }
        }
    }

    &.large {
        width: $icon-size-large;
        height: $icon-size-large;

        &::before {
            width: $icon-size-large - 1;
            height: $icon-size-large - 1;
        }

        &.mobile {
            width: $mobile-icon-large;
            height: $mobile-icon-large;

            &::before {
                width: $mobile-icon-large - 1;
                height: $mobile-icon-large - 1;
            }
        }
    }

    &::before {
        content: "";
        width: $icon-size-1 - 1;
        height: $icon-size-1 - 1;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        position: absolute;
    }
}

.social-icon {
    width: 16px;
    height: 16px;

    &:hover {
        cursor: pointer;
    }
}
