@import "../../../styles/variables";

.action-btns {
    display: inline-block;

    a {
        vertical-align: middle;
        float: right;
    }

    a:first-child {
        padding-right: $base-spacing;
        float: left;
    }

    a:last-child {
        text-align: right;
        padding-right: $base-spacing;
        float: right !important;
        margin-right: $base-spacing;
    }
}
