@import "../../../styles/variables";

.action-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .left-icons {
        display: flex;
    }

    .likes {
        display: flex;
        align-items: center;
        margin-right: $base-spacing;

        .link-button {
            margin-right: $base-spacing-sm;
        }
    }

    .user-actions {
        display: flex;
    }
}
