@import "../../../styles/variables";

.post-rank {
    display: flex;

    &:last-of-type {
        margin-bottom: $base-spacing * 2;
    }

    img {
        flex-shrink: 0;
        display: inline-block;
        height: $ranking-img-height;
        width: $ranking-img-width;
        object-fit: cover;
        margin-right: $base-spacing;
    }

    .post-rank-detail {
        width: 125px;
        margin: 0 $base-spacing;

        .post-rank-name {
            margin-top: $base-spacing-sm;
        }

        .post-rank-title {
            margin-top: $base-spacing-sm;
            -webkit-line-clamp: 3;
            // -webkit-box-orient: vertical;
            display: -webkit-box;
            max-height: $line-height-1 * 3;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .post-rank-name,
        .post-rank-title {
            font-size: $font-size-1;
            line-height: $line-height-1;
            margin-bottom: 0;
        }
    }

    .post-rank-ranking {
        width: 60px;
        margin: auto;
        display: inline-flex;

        .post-rank-ranking-number {
            width: 40px;
            text-align: center;

            &.positive {
                color: $color-green-1;
            }

            &.negative {
                color: $color-accent;
            }
        }

        .post-rank-ranking-icon {
            width: 20px;
            text-align: right;
        }
    }
}
