@import "../../../styles/variables";

.mobile-post-rank {
    height: 64px;
    box-sizing: border-box;

    img {
        height: 64px;
        width: 64px;
    }
}

.post-rank {
    img {
        height: $ranking-img-height;
        width: $ranking-img-width;
        padding-top: $base-spacing;
        padding-bottom: $base-spacing;
    }
}

.post-rank,
.mobile-post-rank {
    display: flex;
    border-bottom: $standard-border-width solid $standard-border-color;

    &:last-child {
        border-bottom: 0;
    }

    img {
        flex-shrink: 0;
        display: inline-block;
        object-fit: cover;
    }

    .post-rank-detail {
        width: 125px;
        margin: $base-spacing 0 $base-spacing $base-spacing;

        p {
            margin-bottom: 0;
        }

        .post-rank-name {
            font-size: $font-size-1;
            color: $color-red-1;
            padding-bottom: $base-spacing-sm;
        }

        .post-rank-title {
            -webkit-line-clamp: 2;
            // -webkit-box-orient: vertical;
            display: -webkit-box;
            max-height: $line-height-1 * 2;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .post-rank-name,
        .post-rank-title {
            font-size: $font-size-1;
            line-height: $line-height-1;
            margin-bottom: 0;
        }
    }

    .post-rank-ranking {
        width: 60px;
        padding-top: $base-spacing;
        padding-right: $base-spacing;
        display: inline-flex;

        .post-rank-ranking-number {
            width: 40px;
            text-align: right;
            padding-right: $base-spacing-sm;

            &.positive {
                // color: $color-green-1;
            }

            &.negative {
                // color: $color-accent;
            }
        }

        .post-rank-ranking-icon {
            width: 20px;
            text-align: right;
        }
    }
}
