@import "../../styles/variables";

.about-header {
    .about-header-title {
        padding-top: 5 * $base-spacing;
        margin-bottom: 5 * $base-spacing;
        text-align: center;
    }
}

.about-information-section {
    padding-bottom: $base-spacing;
    margin-bottom: 5 * $base-spacing;
    background-color: $color-grey-0;

    .about-section {
        font-size: $font-size-2;
        line-height: $line-height-2;
        display: flex;
        margin-bottom: -7px;

        &:last-child {
            margin-bottom: -16px;
        }

        .image-container {
            width: 50%;
            margin: auto;
        }

        .about-section-content {
            margin: auto;
            width: calc(50% - 10 * #{$base-spacing});
            padding-right: 5 * $base-spacing;
            padding-left: 5 * $base-spacing;

            .about-section-title {
                font-family: $font-family-serif;
                font-size: $font-size-4;
                line-height: $line-height-4;
                font-weight: $font-weight-bold;
                margin-bottom: $base-spacing * 2;
            }
        }
    }
}

.about-findout-section {
    padding-bottom: $base-spacing * 10;

    .about-findout-title {
        text-align: center;
        font-size: $font-size-4;
        line-height: $line-height-3;
        font-weight: $font-weight-bold;
        padding-bottom: $base-spacing * 4;
    }

    .about-findout-content {
        display: flex;
        padding-bottom: 2 * $base-spacing;

        .findout-section {
            width: 33.33%;
            margin-top: auto;
            margin-bottom: auto;
            padding-right: 2 * $base-spacing;
            padding-left: 2 * $base-spacing;
            text-align: center;

            .findout-number {
                font-family: $font-family-serif;
                font-size: $font-size-5;
                line-height: $line-height-5;
                color: $color-grey-2;
                font-weight: $font-weight-bold;
            }

            .findout-title {
                padding-top: $base-spacing;
                font-family: $font-family-serif;
                font-weight: $font-weight-bold;
                font-size: $font-size-4;
                line-height: $line-height-4;
            }
        }
    }
}

.mobile-static-content {
    .about-information-section {
        .about-section {
            display: block;
            margin-bottom: 0;

            &:last-child {
                margin-bottom: 0;
            }

            .image-container {
                width: 100%;
            }

            .about-section-content {
                width: calc(100% - 4 * #{$base-spacing});
                padding: 0;
                margin: $base-spacing * 2;
            }
        }
    }

    .about-findout-section {
        .about-findout-content {
            display: block;

            .findout-section {
                width: 100%;
                padding: $base-spacing 0;
            }
        }
    }
}

.about-get-section {
    background-image: url("https://s3.amazonaws.com/trendnine-static/images/about_us_footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

    .about-get-content {
        margin-left: 4 * $base-spacing;
        padding-top: 125px;

        .about-get-title {
            margin-bottom: 3 * $base-spacing;
        }

        .button {
            margin-top: 3 * $base-spacing;
            font-size: $font-size-2;
            line-height: $line-height-2;
            text-align: center;
            width: 200px;
        }
    }
}
