@import "../../styles/variables";

.anchor {
    background-color: transparent;
    font-size: $font-size-1;
    font-family: $font-family-sans-serif;
    letter-spacing: $letter-spacing-1 * 2;
    outline: none;

    &:hover {
        cursor: pointer;
    }

    &.anchor-primary {
        color: $color-accent;

        &:hover {
            color: darken($color-accent, 20%);
        }
    }

    &.anchor-secondary {
        color: $color-grey-2;

        &:hover {
            color: $color-accent;
        }
    }
}
