@import "../../../styles/variables";

.onboarding-follow-container {
    max-height: 400px;
    overflow: scroll;
    padding: $base-spacing 0;
    border-bottom: $standard-border-width solid $standard-border-color;
    border-top: $standard-border-width solid $standard-border-color;
    margin-bottom: $base-spacing * 2;
    display: flex;
    flex-wrap: wrap;

    &.mobile {
        flex-wrap: nowrap;
    }
}

.view-container {
    display: flex;
    width: 50%;
}

.mobile-view-container {
    display: flex;
    width: 100%;
    flex-shrink: 0;
}

.follow-influencer {
    display: inline-block;
    border: $standard-border-width solid black;
    border-radius: 3px;
    width: 100%;
    padding: $base-spacing;
    margin: $base-spacing;
    box-sizing: border-box;

    &.mobile {
        width: 100%;
        margin: 0;
        margin-right: $base-spacing;
    }

    .influencer {
        display: flex;
        justify-content: space-between;

        .influencer-details {
            display: flex;

            .influencer-image {
                width: auto;
                margin-right: $base-spacing;
            }
        }

        .description {
            display: flex;
            flex-direction: column;

            .name {
                font-family: $font-family-serif;
                font-weight: $font-weight-bold;
                font-size: $font-size-2;
            }

            .username {
                color: $color-grey-4;
            }
        }

        img {
            width: 40px;
            height: 40px;
        }
    }

    .influencer-content {
        display: flex;
        justify-content: left;

        .influencer-post-preview {
            margin: $base-spacing / 2;
            max-width: 80px;
            width: calc(25% - #{$base-spacing / 2});
        }
    }
}
