@import "../../../styles/variables";

.view-more-container {
    text-align: center;
    width: 100%;

    button {
        margin-top: $base-spacing * 6;
        margin-bottom: $base-spacing * 8;
        padding: 10px $base-spacing * 5;
    }

    &.mobile {
        button {
            margin: $large-spacing * 2 0;
        }
    }
}
