@import "../../../styles/variables";

.toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;

    .grid-sizes {
        align-items: center;
        display: flex;

        .icon {
            padding-left: $base-spacing;
        }
    }
}

.active-filters {
    .checkbox-container {
        display: inline-block;
        margin-right: $base-spacing;
    }
}

.sticky-mobile-content-toolbar .active-filters {
    padding: 0 $mobile-page-spacing;
}

.filter-toggle {
    display: flex;
    align-items: center;

    .filter-toggle-label {
        font-size: $font-size-2;
        margin-right: $base-spacing;
    }
}

.sticky-mobile-content-toolbar {
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    z-index: 3;
    top: 59px;
    left: 0;
    background-color: $base-background-color;

    &.filter-open {
        height: 100%;
        overflow: scroll;
        bottom: 0;
    }

    .toolbar {
        padding: $mobile-page-spacing;
        border-bottom: $standard-border-width solid $standard-border-color;
    }
}
