@import "../../../styles/variables";

.toolbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: $base-spacing 0;

    .toolbar-button {
        margin-right: $base-spacing;
        padding: $base-spacing / 1.5 $base-spacing * 2;
    }

    .grid-sizes {
        align-items: center;
        display: flex;

        .icon {
            opacity: 0.5;
            padding-left: $mobile-page-spacing;
        }

        .selected .icon {
            opacity: 1;
        }
    }
}

.active-filters {
    .checkbox-container {
        display: inline-block;
        margin-right: $base-spacing;
    }
}

.filter-toolbar {
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: $mobile-page-spacing;
}

.sticky-mobile-content-toolbar .active-filters {
    padding: 0 $mobile-page-spacing;
}

.filter-toggle {
    display: flex;
    align-items: center;

    .filter-toggle-label {
        font-size: $font-size-2;
        margin-right: $base-spacing;
    }
}

.sticky-mobile-content-toolbar {
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    z-index: 3;
    left: 0;
    background-color: $base-background-color;

    .toolbar {
        padding: $base-spacing $mobile-page-spacing;
        border-bottom: $standard-border-width solid $standard-border-color;
    }
}

.filter-navigation {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;

    .filter-navigation-header {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        padding: $mobile-page-spacing;
        position: relative;
        border-bottom: $standard-border-width solid $standard-border-color;

        .filter-navigation-title {
            flex-grow: 1;
            text-align: center;
        }
    }

    .clear-filter {
        position: absolute;
        text-decoration: none;
        color: $color-warning;
        right: $mobile-page-spacing;
    }

    .close {
        position: absolute;
        width: 20px;
        left: $mobile-page-spacing;
        color: #000;
        right: $page-spacing;
        font-size: 35px;
        font-weight: 200;
        margin-right: $base-spacing;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}
