@import "../../../styles/variables";

.mobile-content-toolbar {
    visibility: hidden;
    padding: $mobile-page-spacing;
    background-color: $base-background-color;
    box-sizing: border-box;

    &.sticky {
        visibility: visible;
        position: fixed;
        width: 100%;
        top: 60px;
        left: 0;
        z-index: 3;
    }
}

.toolbar {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .grid-sizes {
        align-items: center;
        display: flex;

        .icon {
            padding-left: $base-spacing;
        }
    }
}
