@import "../../styles/variables";

.carousel-item {
    margin: 0 $base-spacing;
    display: flex;
    flex-direction: column;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        cursor: pointer;
        color: $color-accent;
    }

    &.selected {
        border: $standard-border-width solid $standard-border-color;
        box-sizing: border-box;
    }

    p {
        font-size: $font-size-1;
        line-height: $line-height-1;

        &.large {
            font-size: $font-size-2;
            line-height: $line-height-2;
        }
    }

    .carousel-item-cover {
        margin-bottom: $base-spacing;
    }

    .carousel-item-title {
        font-family: $font-family-serif;
        font-weight: $font-weight-bold;
    }
}

.mobile-carousel-item {
    width: calc(100% - 60px);
    // width: 120%;
    // display:
}

.mobile-carousel-container {
    margin-bottom: calc(22px + #{$base-spacing}); // Compensate for dots
}

.slick-prev,
.slick-next {
    width: $icon-size-3;
    height: $icon-size-3;
    text-decoration: none;
    vertical-align: middle;
    margin: auto;

    &::before {
        left: 0;
        top: 0;
        content: "";
        color: #000;
    }
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.slick-slide {
    width: $carousel-item-width + 2 * $base-spacing;
}

.slick-prev + .slick-list {
    margin: 0 $icon-size-3 + $base-spacing * 2;
}
