@import "../../styles/variables";

.carousel-item {
    display: block;
    margin: 0 $base-spacing;

    p {
        font-size: $font-size-1;

        &.large {
            font-size: $font-size-2;
        }
    }

    .carousel-item-cover {
        margin-bottom: $base-spacing;

        &.selected {
            border: $standard-border-width solid $standard-border-color;
        }
    }

    .carousel-item-title {
        text-transform: uppercase;
    }
}

.carousel-container {
    padding: 0 $base-spacing * 2;
}

.slick-prev,
.slick-next {
    &::before {
        color: #000;
    }
}
