@import "../../styles/variables";

.checkbox-container {
    display: block;
    position: relative;
    padding-left: $checkbox-size + $base-spacing;
    cursor: pointer;
    user-select: none;
    line-height: $checkbox-size;

    .checkbox-checkmark-outline {
        display: inline-block;
        border: $standard-border-width solid $standard-border-color;
        padding: 2px;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        height: $checkbox-size;
        width: $checkbox-size;
        background-color: transparent;
        border-radius: 3px;

        .checkbox-checkmark {
            display: block;
            border-radius: $standard-border-radius;
            width: 100%;
            height: 100%;
        }
    }

    &:hover {
        text-decoration: underline;

        .checkbox-checkmark {
            background-color: $color-muted;
        }
    }

    &.mobile {
        $checkbox-size: $mobile-checkbox-size - 2 * $standard-border-width;

        line-height: $mobile-checkbox-size;
        font-size: $font-size-2;
        padding-left: $mobile-checkbox-size + $base-spacing;
        height: $mobile-checkbox-size;

        .checkbox-checkmark {
            height: $checkbox-size;
            width: $checkbox-size;
        }
    }

    input {
        position: absolute;
        display: none;
        width: 0;
        cursor: pointer;

        &:checked ~ .checkbox-checkmark-outline .checkbox-checkmark {
            background-color: $color-accent;
            border: 0;
        }
    }

    &.mobile input:checked ~ .checkbox-checkmark {
        height: $mobile-checkbox-size;
        width: $mobile-checkbox-size;
    }
}
