@import "../../styles/variables";

.checkbox-container {
    display: block;
    position: relative;
    padding-left: $checkbox-size + $base-spacing;
    cursor: pointer;
    user-select: none;
    line-height: $checkbox-size;

    .checkbox-checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: $checkbox-size - 2 * $standard-border-width;
        width: $checkbox-size - 2 * $standard-border-width;
        background-color: transparent;
        border: $standard-border-width solid $standard-border-color;
        border-radius: 3px;
    }

    &.mobile {
        $checkbox-size: $mobile-checkbox-size - 2 * $standard-border-width;

        line-height: $mobile-checkbox-size;
        font-size: $font-size-2;
        padding-left: $mobile-checkbox-size + $base-spacing;
        margin-top: -($checkbox-size - $font-size-3);

        .checkbox-checkmark {
            height: $checkbox-size;
            width: $checkbox-size;
        }
    }

    input {
        position: absolute;
        display: none;
        width: 0;
        cursor: pointer;

        &:checked ~ .checkbox-checkmark {
            background-color: $color-accent;
            height: $checkbox-size;
            width: $checkbox-size;
            border: 0;
        }
    }

    &.mobile input:checked ~ .checkbox-checkmark {
        height: $mobile-checkbox-size;
        width: $mobile-checkbox-size;
    }
}
