@import "../../styles/variables";

.sidebar {
    display: inline-block;
    width: $sidebar-width;
    padding-right: $sidebar-padding;
    margin-top: $content-spacing;
}

.sticky-sidebar-recently-viewed {
    position: fixed;
    width: $sidebar-width;
    top: $navbar-height + $base-spacing;
}
