@import "../../styles/variables";

.sidebar {
    display: inline-block;
    width: $sidebar-width;
    margin-right: $sidebar-padding;
}

.sticky-sidebar-recently-viewed {
    transform: translate3d(0, 0, 0);
    position: fixed;
    width: $sidebar-width;
    top: $navbar-height + $base-spacing;
}
