@import "../../../styles/variables";

.editor {
    border: 1px solid #000;

    figure {
        margin: 0;
    }
}

.editor-input {
    padding: 0 $base-spacing * 2;
}

.post-editor {
    .ql-editor {
        min-height: 500px;
    }
}
