@import "../../../styles/variables";

.tag {
    margin-bottom: $base-spacing-sm;
    font-size: $font-size-1;
    line-height: $line-height-1;
    margin-right: $base-spacing-sm;

    &:last-child {
        margin-bottom: 0;
    }
}
