@import "../../../styles/variables";

.tag {
    margin-bottom: $base-spacing-sm;
    font-size: $font-size-1;
    line-height: $line-height-1;

    &:last-child {
        margin-bottom: 0;
    }

    &.inline-tag {
        display: inline-block;
        margin-right: $base-spacing;
        margin-bottom: 0;
    }

    &:hover {
        cursor: pointer;
    }
}
