@import "../../../styles/variables";

.sidebar-section {
    margin-bottom: $base-spacing * 5;
    border-bottom: solid $standard-border-width $standard-border-color;
}

.sidebar-header {
    font-size: $font-size-2;
    line-height: $line-height-2;
    font-family: $font-family-serif;
    font-weight: $font-weight-bold;
    letter-spacing: $letter-spacing-2;
    padding: $base-spacing;
    padding-left: 0;
    background: transparent;
    border-bottom: solid $standard-border-width $standard-border-color;
}

.content-section,
.mobile-content-section {
    margin-bottom: $base-spacing * 8;
}

.content-header {
    font-family: $font-family-serif;
    font-size: $font-size-3;
    font-weight: $font-weight-bold;
    line-height: $line-height-3;
    padding-bottom: $base-spacing;
    border-bottom: $standard-border-width solid $standard-border-color;
    margin-bottom: $base-spacing;
}

.mobile-content-section {
    .content-header {
        font-size: $font-size-2;
        font-weight: $font-weight-bold;
    }
}

.mobile-content-section,
.tabbed-section-container,
.tabbed-section {
    .slick-slide {
        &:only-of-type {
            .carousel-item {
                max-width: 50%;
            }
        }
    }
}

.tabbed-section {
    margin-bottom: $base-spacing * 2;
    border-bottom: solid $standard-border-width $standard-border-color;
    display: table;
    width: 100%;

    .tab {
        font-size: $font-size-2;
        font-family: $font-family-serif;
        font-weight: $font-weight-bold;
        letter-spacing: $letter-spacing-1;
        display: table-cell;
        line-height: $font-size-2 + 6px;

        .tab-name {
            display: inline-block;
            padding-bottom: $base-spacing;
        }
    }

    .selected {
        border-bottom: solid 3px #000;
    }
}

.expandable-section {
    margin-bottom: $base-spacing * 2;

    .section-header {
        font-size: $font-size-2;
        display: flex;
        justify-content: space-between;
        border-bottom: $standard-border-width solid $standard-border-color;
    }
}

.tab-dots {
    display: flex;
    justify-content: center;
    width: 100%;

    .section-dot {
        margin: $base-spacing;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        border: $standard-border-width solid $standard-border-color;

        &::before {
            content: "";
        }

        &.selected {
            background-color: $standard-border-color;
        }
    }
}

.featured-section {
    margin-bottom: $section-spacing;

    .featured-section-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: $section-spacing;

        .header-text {
            display: flex;
            align-items: baseline;

            .header-title {
                margin: 0;
                margin-right: $base-spacing;
            }
        }
    }
}
