@import "../../../styles/variables";

.author {
    display: flex;

    .link-button {
        display: flex;
        margin-right: $base-spacing * 2;
    }

    .author-image img {
        display: inline-block;
        width: $profile-image-size;
        height: $profile-image-size;
        margin-right: $base-spacing;
    }

    .author-name {
        line-height: $profile-image-size;
        font-size: $font-size-0;
    }

    time {
        line-height: $profile-image-size;
    }
}
