@import "../../../styles/variables";

.comment-item {
    margin-bottom: $base-spacing * 2;

    .author {
        margin-bottom: $base-spacing;
    }

    .comment-content {
        font-size: $font-size-2;
    }

    .comment-item-actions {
        margin-bottom: $base-spacing;

        a {
            margin-right: $base-spacing;
        }
    }
}

.comment-reply {
    margin-left: $base-spacing * 3;
}
