@import "../../../../styles/variables";

.comment-input-container {
    display: flex;

    .comment-input {
        display: flex;
        flex: 1;

        textarea {
            margin-right: $base-spacing;
        }

        button {
            width: 200px;
        }
    }
}

.comment-user {
    display: flex;
    margin-bottom: $base-spacing;
}

.comment-input-container,
.mobile-comment-input-container {
    margin-bottom: $base-spacing * 3;

    img {
        display: inline-block;
        object-fit: cover;
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin: 0;
        margin-right: $base-spacing * 2;
    }
}
