@import "../../styles/variables";

.share-modal {
    max-width: 300px;

    .share-modal-content {
        padding: $page-spacing;
    }

    .share-title {
        font-family: $font-family-serif;
        font-size: $font-size-4;
        font-weight: $font-weight-bold;
        text-align: center;
        margin-bottom: $base-spacing * 4;
    }

    .share-button {
        margin-bottom: $base-spacing * 2;

        &.facebook {
            background-color: #3b5998;
        }
    }
}
