@import "../../../styles/variables";

.trending {
    margin-bottom: $base-spacing * 4;
    padding-right: $base-spacing * 2;

    .trending-title {
        font-size: $font-size-3;
    }

    .trending-post {
        display: flex;

        &:last-of-type {
            margin-bottom: $base-spacing * 2;
        }

        img {
            flex-shrink: 0;
            display: inline-block;
            height: 80px;
            width: 80px;
            object-fit: cover;
            margin-right: $base-spacing;
        }

        .trending-post-detail {
            .trending-post-name,
            .trending-post-title {
                font-size: $font-size-1;
            }
        }
    }

    // Find a better way
    button {
        margin-top: $base-spacing;
    }
}
