@import "../../styles/variables";

.alphabet-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;

    .link-button {
        margin-right: $base-spacing;
    }
}

.brands-content {
    display: flex;
    padding: 0 $page-spacing;

    .sidebar-section {
        border-bottom: 0;

        .sidebar-brand-header {
            font-family: $font-family-serif;
            font-weight: $font-weight-bold;
            font-size: $font-size-5;
            line-height: $line-height-5;
        }
    }

    .sticky-alphabet-list {
        position: fixed;
        transform: translate3d(0, 0, 0);
        width: 100%;
        background-color: $base-background-color;
        z-index: 2;
        top: $navbar-height - $standard-border-width;
    }

    .alphabet-list {
        background-color: $base-background-color;
        list-style: none;
        padding: 0;
        display: flex;
        font-family: $font-family-serif;
        font-weight: $font-weight-bold;
        font-size: $font-size-2;
        line-height: $line-height-2;
        padding-bottom: $base-spacing;
        border-bottom: $standard-border-width solid $standard-border-color;

        a {
            font-size: $font-size-2;
        }

        li {
            padding-right: $base-spacing * 1.5;
        }
    }

    .brand-section-container {
        display: block;
        column-count: 5;
        margin-bottom: 140px;

        .brand-section {
            break-inside: avoid-column;

            .brand-section-header {
                font-family: $font-family-serif;
                font-weight: $font-weight-bold;
                font-size: $font-size-4;
                line-height: $line-height-4;
                padding-top: $base-spacing * 4;
                padding-bottom: $base-spacing;
            }
        }
    }
}

.mobile-brands {
    padding: $mobile-page-spacing;
    background-color: $base-background-color;

    .slick-list {
        padding-left: 0 !important; //partial - find a fix
    }

    .slick-slide {
        margin-right: $base-spacing;
        max-width: 30px !important;
    }

    .mobile-brands-header {
        font-family: $font-family-serif;
        font-weight: $font-weight-bold;
        font-size: $font-size-4;
        padding-bottom: 2 * $base-spacing;
    }

    .mobile-brand-section-container {
        display: block;
        column-count: 1;
        margin-bottom: 140px;

        .brand-section {
            break-inside: avoid-column;

            .brand-section-header {
                font-family: $font-family-serif;
                font-weight: $font-weight-bold;
                font-size: $font-size-4;
                line-height: $line-height-4;
                padding-top: $base-spacing * 4;
                padding-bottom: $base-spacing;
            }
        }
    }
}
