@import "../../../../styles/variables";

.mobile-filter {
    height: calc(100% - 60px - 46px);
    overflow: hidden;

    .list-item {
        display: flex;
        justify-content: space-between;
        border-bottom: $standard-border-width solid $standard-border-color;
        padding: $mobile-page-spacing;
        font-size: $font-size-2;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
    }

    .filter-results {
        box-sizing: border-box;
        padding: $mobile-page-spacing;
        height: calc(100% - 60px - 46px);
        overflow: auto;
    }

    .filter-search {
        padding: $mobile-page-spacing;

        input {
            box-sizing: border-box;
        }
    }

    .filter-search-container {
        height: 100%;
    }
}
