@import "../../../styles/variables";

.section-header {
    font-size: $font-size-3;
    padding-bottom: $base-spacing;
    border-bottom: $standard-border-width solid $standard-border-color;
    margin-bottom: $base-spacing;
}
