@import "../../styles/variables";

.trending {
    margin-bottom: $base-spacing;
    padding-right: $base-spacing;

    .trending-title {
        font-size: $font-size-3;
    }

    .trending-post {
        display: flex;

        img {
            flex-shrink: 0;
            display: inline-block;
            height: 100px;
            width: 100px;
            object-fit: cover;
            margin-right: $base-spacing;
        }
    }

    // Find a better way
    button {
        margin-top: $base-spacing;
    }
}
